n8n_Pozu_2.0_Workflow.json
{
  "name": "Multichannel Audio Text and Image Processing",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e93aac04-3f13-4aa7-8d77-5abfecb11965",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        856
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "options": {}
      },
      "id": "83c74d17-207b-4532-b9dc-7d2de722959e",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1048
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.audioMessage || $json.message?.audio || $json.message?.voice || $json.body?.type === 'audio' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.imageMessage || $json.message?.photo || $json.message?.image || $json.body?.type === 'image' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "936a56dc-aa71-42f4-ba72-3aa1ed255292",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "contenido_procesado",
              "value": "={{ $json.message || $json.body?.message || $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript || 'Sin texto' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' ? 'website_chat' : ($json.data?.key ? 'whatsapp' : ($json.message ? 'telegram' : 'vapi')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e19e761-43cf-4b77-8da0-2f9d446f6701",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        664
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "id": "b3af523a-85be-4338-96f0-629ecdd713e3",
      "name": "Unificar Contenido",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        744
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "350823f0-0605-4056-b79e-bc5fdd7a1268",
      "name": "Transcribir Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        856
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "Analiza esta imagen de un pedido de comida. Extrae: productos visibles, cantidades, precios si están escritos, y cualquier nota especial. Describe todo en español de forma detallada.",
        "options": {}
      },
      "id": "513b3c99-3ebc-40e0-b6f2-23e9fd78e503",
      "name": "Analizar Imagen",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        1048
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.contenido_procesado || $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el gestor de ventas inteligente de Pozu 2.0. Tu misión es convertir mensajes de clientes (Voz, Texto, Imagen) en pedidos estructurados y gestionar la elección del método de pago.\n\n**PROTOCOLO DE ACTUACIÓN:**\n\n1. **Validación de Productos**: Para cada producto mencionado, usa obligatoriamente verificar_producto. Obtén precios reales y verifica alérgenos (especialmente si el cliente menciona alergias).\n\n2. **Gestión de Pagos**:\n   - Identifica si el cliente ya mencionó cómo quiere pagar (Efectivo o Tarjeta)\n   - Si NO lo mencionó, tu respuesta debe incluir una solicitud explícita para que elija\n   - Si elige Tarjeta, prepárate para generar un enlace de pago\n\n3. **Cálculo de Totales**: Suma los precios exactos obtenidos de la base de datos. NO inventes valores.\n\n4. **Teléfono de Contacto**: Si el cliente solicita un pedido a domicilio (Delivery), ES OBLIGATORIO pedirle un teléfono de contacto en Asturias. Si no lo proporciona, debes solicitárselo explícitamente antes de confirmar.\n\n**EXTRACCIÓN DE DATOS:**\n\n- **Cliente**: Identifica el nombre completo. Si no lo menciona, pon \"Cliente Desconocido\"\n- **Dirección**: Busca direcciones en Asturias (calle, número, ciudad: Oviedo, Gijón, etc.)\n- **Teléfono**: Extrae el número de contacto. Si no lo proporciona y es delivery, solicítalo\n- **Pedido Detallado**: Lista cada producto verificado con cantidad y notas especiales\n- **Método de Pago**: Detecta si mencionó \"efectivo\", \"cash\", \"tarjeta\", \"card\". Si no lo mencionó, marca como \"Pendiente\"\n- **Canal**: Identifica si viene de llamada (vapi), WhatsApp o Telegram\n\n**CÁLCULO DEL TOTAL:**\nSuma los precios REALES obtenidos de verificar_producto. NO inventes ni estimes precios.\n\n**FORMATO DE SALIDA (JSON ESTRICTO):**\n```json\n{\n  \"nombre_cliente\": \"Nombre extraído o Cliente Desconocido\",\n  \"telefono_cliente\": \"Número de contacto o N/A\",\n  \"direccion_asturias\": \"Dirección completa en Asturias\",\n  \"detalle_pedido\": \"Lista de productos con sus precios reales\",\n  \"notas_adicionales\": \"Información sobre alérgenos verificados o productos no disponibles\",\n  \"metodo_pago\": \"Efectivo / Tarjeta / Pendiente\",\n  \"total_estimado\": 0.00,\n  \"necesita_link_pago\": true/false\n}\n```\n\n**REGLAS DE NEGOCIO:**\n\n- Si el cliente es alérgico a algo, verifica siempre los ingredients en la base de datos y confírmalo en notas_adicionales\n- Si el método de pago es \"Tarjeta\", marca necesita_link_pago como true\n- Si el método de pago es \"Pendiente\", marca necesita_link_pago como false\n- Si un producto no existe o no está disponible: marca en notas_adicionales\n- Mantén un tono profesional, eficiente y enfocado en el servicio al cliente de Asturias"
        }
      },
      "id": "50212900-aca1-4eec-92c1-9461fedc5caa",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1432,
        760
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "5f90f565-142b-42e7-98cc-111c2397542c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "={{ $json.status || ($json.output.metodo_pago === 'Efectivo' || $json.output.metodo_pago === 'Pendiente' ? 'pending' : 'pending') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "order_type",
              "value": "={{ $json.output.canal_origen === 'vapi' ? 'phone' : 'delivery' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "payment_method",
              "value": "={{ $json.output.metodo_pago === 'Efectivo' ? 'cash' : ($json.output.metodo_pago === 'Tarjeta' ? 'card' : 'pending') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "guest_info",
              "value": "={{ JSON.stringify({ \"full_name\": $json.output.nombre_cliente, \"phone\": $json.output.telefono_cliente }) }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "delivery_address",
              "value": "={{ JSON.stringify({ \"street\": $json.output.direccion_asturias }) }}",
              "type": "object"
            },
            {
              "id": "id-6",
              "name": "notes",
              "value": "={{ $json.output.detalle_pedido + ' | ' + $json.output.notas_adicionales }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "total",
              "value": "={{ $json.output.total_estimado }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "subtotal",
              "value": "={{ $json.output.total_estimado }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "source",
              "value": "={{ $('Unificar Contenido').item.json.canal }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "payment_status",
              "value": "={{ $json.output.metodo_pago === 'Tarjeta' ? 'pending' : 'pending' }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "customer_phone",
              "value": "={{ $json.output.telefono_cliente !== 'N/A' ? $json.output.telefono_cliente : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7726047a-1206-489b-9787-0691c4925b3d",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        592
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nombre_cliente\": \"Juan Pérez\",\n  \"telefono_cliente\": \"+34 600000000\",\n  \"direccion_asturias\": \"Calle Uría 25, Oviedo\",\n  \"detalle_pedido\": \"2x Hamburguesa Pozu (12.50€), 1x Patatas Trufadas (5.00€)\",\n  \"notas_adicionales\": \"Sin cebolla en hamburguesa. Cliente preguntó por alérgenos: sin gluten verificado.\",\n  \"metodo_pago\": \"Efectivo\",\n  \"total_estimado\": 30.00,\n  \"necesita_link_pago\": false\n}"
      },
      "id": "9c15418c-25d9-4ddc-a975-b7c27c3c1142",
      "name": "JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1632,
        984
      ]
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "95647873-c42d-4c20-bd9c-5545689b2923",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "babdda57-7cb3-47cb-83f7-1921e4d2a2d2",
      "name": "Identificar Canal Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3632,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{ $('Preparar para Supabase').item.json.confirmation_message || 'Pedido recibido correctamente' }}\",\n  \"cliente\": \"{{ $('Preparar para Supabase').item.json.guest_info.full_name }}\",\n  \"total\": \"{{ $('Preparar para Supabase').item.json.total }}\",\n  \"metodo_pago\": \"{{ $('Preparar para Supabase').item.json.payment_method }}\",\n  \"payment_link\": \"{{ $('Preparar para Supabase').item.json.payment_method === 'card' ? $json.payment_link : null }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d6799104-43f9-4e44-9c06-2cbf03994e4c",
      "name": "Responder a Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3856,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Preparar para Supabase').item.json.confirmation_message ? '⚠️ ' + $('Preparar para Supabase').item.json.confirmation_message + '\\n\\n' : '' }}✅ *Pedido confirmado*\\n\\nCliente: {{ $('Preparar para Supabase').item.json.guest_info.full_name }}\\nDirección: {{ $('Preparar para Supabase').item.json.delivery_address.street }}\\nTotal: {{ $('Preparar para Supabase').item.json.total }}€\\n\\nMétodo de pago: {{ $('Preparar para Supabase').item.json.payment_method === 'card' ? 'Tarjeta 💳' : 'Efectivo 💵' }}\\n\\n{{ $('Preparar para Supabase').item.json.payment_method === 'card' ? '🔗 Link de pago: ' + $json.payment_link : '📍 Sigue tu pedido en directo aquí: https://pozu.es/pedidos/tracking?id=' + $('Insertar Pedido en Supabase').item.json.id }}",
        "additionalFields": {}
      },
      "id": "9898ec03-db27-4212-a21e-eeeb316d5dba",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3856,
        688
      ],
      "webhookId": "2dd80e73-52de-4e4b-8d6d-ebf3dd1662a4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "options": {}
      },
      "id": "90a620c1-80c4-474f-837c-2c8eaa1f2cc5",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        664
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__evolution_api_base_url__>/message/sendText/<__PLACEHOLDER_VALUE__instance_name__>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "<__PLACEHOLDER_VALUE__evolution_api_key__>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Evolution API Webhook').item.json.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar para Supabase').item.json.confirmation_message ? '⚠️ ' + $('Preparar para Supabase').item.json.confirmation_message + '\\n\\n' : '' }}✅ *Pedido confirmado*\\n\\nCliente: {{ $('Preparar para Supabase').item.json.guest_info.full_name }}\\nDirección: {{ $('Preparar para Supabase').item.json.delivery_address.street }}\\nTotal: {{ $('Preparar para Supabase').item.json.total }}€\\n\\nMétodo de pago: {{ $('Preparar para Supabase').item.json.payment_method === 'card' ? 'Tarjeta 💳' : 'Efectivo 💵' }}\\n\\n{{ $('Preparar para Supabase').item.json.payment_method === 'card' ? '🔗 Link de pago: ' + $json.payment_link : '📍 Sigue tu pedido en directo aquí: https://pozu.es/pedidos/tracking?id=' + $('Insertar Pedido en Supabase').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14b7ca1a-9180-4197-8ef0-7565d1809700",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3856,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "969b66e5-4483-473a-ab0b-1c3c46fef1a9",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        760
      ]
    },
    {
      "parameters": {
        "name": "verificar_producto",
        "description": "Consulta información de un producto específico: precio, ingredientes/alérgenos y disponibilidad. Usa esta herramienta cuando el cliente mencione un producto o pregunte sobre alérgenos.",
        "jsCode": "// Obtener el nombre del producto desde el AI Agent\nconst nombreProducto = $fromAI('product_name', 'Nombre del producto a buscar (ej: hamburguesa pozu, patatas trufadas)', 'string');\n\n// Obtener el catálogo de productos del nodo anterior\nconst productos = $('Consultar Catálogo Productos').all();\n\nif (!productos || productos.length === 0) {\n  return 'Error: No se pudo cargar el catálogo de productos.';\n}\n\n// Buscar el producto por nombre (búsqueda flexible)\nconst nombreBuscado = nombreProducto.toLowerCase().trim();\nconst productoEncontrado = productos.find(item => {\n  const nombreProducto = item.json.name?.toLowerCase() || '';\n  return nombreProducto.includes(nombreBuscado) || nombreBuscado.includes(nombreProducto);\n});\n\nif (!productoEncontrado) {\n  return `Producto \"${nombreProducto}\" no encontrado en el catálogo. Solicita confirmación manual al cliente.`;\n}\n\nconst producto = productoEncontrado.json;\n\n// Verificar disponibilidad\nif (producto.is_available === false) {\n  return `El producto \"${producto.name}\" NO está disponible actualmente. Ofrece alternativas al cliente.`;\n}\n\n// Construir respuesta estructurada\nconst respuesta = {\n  nombre: producto.name || 'Sin nombre',\n  precio: producto.price || 0,\n  ingredientes: producto.ingredients || 'No especificados',\n  alergenos: producto.allergens || 'Sin alérgenos declarados',\n  disponible: true,\n  categoria: producto.category || 'Sin categoría',\n  descripcion: producto.description || ''\n};\n\nreturn `PRODUCTO VERIFICADO:\n- Nombre: ${respuesta.nombre}\n- Precio: ${respuesta.precio}€\n- Ingredientes: ${respuesta.ingredientes}\n- Alérgenos: ${respuesta.alergenos}\n- Disponible: Sí\n- Categoría: ${respuesta.categoria}\n\nUSA ESTE PRECIO EXACTO (${respuesta.precio}€) para calcular el total del pedido.`;"
      },
      "id": "ce3751e1-1135-4fb6-a479-7d12872ddf67",
      "name": "Herramienta Verificar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1504,
        984
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Efectivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Efectivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Tarjeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarjeta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Pendiente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pendiente"
            }
          ]
        },
        "options": {}
      },
      "id": "f54f75ee-5640-4128-ab58-cd1d5a8557ad",
      "name": "Verificar Método Pago",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2512,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "amount",
              "value": "={{ $json.output.total_estimado }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "currency",
              "value": "EUR",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "={{ 'Pedido Pozu 2.0 - ' + $json.output.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "customer_email",
              "value": "<__PLACEHOLDER_VALUE__customer_email__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a8e06678-558d-4bd1-8ad5-b3265f8785a4",
      "name": "Preparar Pago Tarjeta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_pago",
              "value": "=📋 *Resumen de tu pedido*\n\nCliente: {{ $json.output.nombre_cliente }}\nDirección: {{ $json.output.direccion_asturias }}\n\nDetalle:\n{{ $json.output.detalle_pedido }}\n\n💰 *Total: {{ $json.output.total_estimado }}€*\n\n¿Cómo prefieres pagar?\n1️⃣ Efectivo\n2️⃣ Tarjeta (recibirás un enlace de pago)",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "28fcee9c-3d15-4186-8564-7d121458f0f9",
      "name": "Preparar Solicitud Pago",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        1064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__evolution_api_base_url__>/message/sendText/<__PLACEHOLDER_VALUE__instance_name__>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "<__PLACEHOLDER_VALUE__evolution_api_key__>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Evolution API Webhook').item.json.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje_pago }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d2f6a62-b46f-4adb-9c1b-fb967019556a",
      "name": "Solicitar Pago WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2960,
        1112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mensaje_pago }}",
        "additionalFields": {}
      },
      "id": "c1c951c6-62f7-47ad-aa90-d4776ddb5ba5",
      "name": "Solicitar Pago Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2960,
        880
      ],
      "webhookId": "7132b02e-1e61-4e57-8ef8-44ea8fa24e9c"
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "create",
        "customerId": "<__PLACEHOLDER_VALUE__stripe_customer_id__>",
        "amount": "={{ $json.output.total_estimado * 100 }}",
        "currency": "eur",
        "source": "<__PLACEHOLDER_VALUE__stripe_source_id__>",
        "additionalFields": {
          "description": "={{ 'Pedido Pozu 2.0 - ' + $json.output.nombre_cliente }}",
          "metadata": {
            "metadataProperties": [
              {
                "key": "cliente",
                "value": "={{ $json.output.nombre_cliente }}"
              },
              {
                "key": "canal",
                "value": "={{ $('Unificar Contenido').item.json.canal }}"
              },
              {
                "key": "session_id",
                "value": "={{ $('Chat Web Webhook').item.json.body.session_id || $('Chat Web Webhook').item.json.session_id || '' }}"
              },
              {
                "key": "order_id",
                "value": "={{ $('Insertar Pedido en Supabase').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "52715b69-2d9c-4e54-8030-d6e097141846",
      "name": "Generar Link Pago (Stripe)",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        2960,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-stripe-pozu",
        "options": {}
      },
      "id": "1a42d736-9d81-4a66-8fa6-097f9137be98",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        2064
      ],
      "webhookId": "d374f787-b38d-4e5a-a04c-da9957fc74ff"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.data.object.metadata.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            },
            {
              "fieldId": "payment_status",
              "fieldValue": "paid"
            },
            {
              "fieldId": "stripe_charge_id",
              "fieldValue": "={{ $json.body.data.object.id }}"
            },
            {
              "fieldId": "stripe_receipt_url",
              "fieldValue": "={{ $json.body.data.object.receipt_url }}"
            },
            {
              "fieldId": "card_brand",
              "fieldValue": "={{ $json.body.data.object.payment_method_details?.card?.brand }}"
            },
            {
              "fieldId": "card_last4",
              "fieldValue": "={{ $json.body.data.object.payment_method_details?.card?.last4 }}"
            },
            {
              "fieldId": "payment_metadata",
              "fieldValue": "={{ JSON.stringify($json.body.data.object.metadata) }}"
            }
          ]
        }
      },
      "id": "561abe17-83b5-4b06-a351-1401c055c348",
      "name": "Marcar como Pagado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        2064
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "5b223ece-ad5e-4de4-8afb-da2dea3fb9b9",
      "name": "Identificar Canal Notificación",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        2032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__evolution_api_base_url__>/message/sendText/<__PLACEHOLDER_VALUE__instance_name__>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "<__PLACEHOLDER_VALUE__evolution_api_key__>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.data.object.metadata.phone_number }}"
            },
            {
              "name": "text",
              "value": "🎉 ¡Pago recibido! Tu Pozu ya está en la parrilla 🔥\n\nGracias por tu pedido. Te avisaremos cuando esté listo para entrega.\n\n- Equipo Pozu 2.0"
            }
          ]
        },
        "options": {}
      },
      "id": "0e6d35b3-f739-41df-98b3-f6f4899f84c3",
      "name": "Notificar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        2064
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.data.object.metadata.chat_id }}",
        "text": "🎉 ¡Pago recibido! Tu Pozu ya está en la parrilla 🔥\n\nGracias por tu pedido. Te avisaremos cuando esté listo para entrega.\n\n- Equipo Pozu 2.0",
        "additionalFields": {}
      },
      "id": "acfb833e-e3b4-44e3-8417-19f77808576a",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        1872
      ],
      "webhookId": "270b968a-2860-451d-8424-1ba1d53b65e5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bbda9d3-a601-44f3-bdec-97b72d1dc952",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1240
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "={{ $('Preparar para Supabase').item.json.confirmation_message || $('Extraer Datos Estructurados').item.json.output }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "session_id",
              "value": "={{ $('Chat Web Webhook').item.json.body.session_id || $('Chat Web Webhook').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc9d69ca-d39d-43df-add5-cad346211930",
      "name": "Preparar Respuesta Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        880
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "67922971-5f7c-4e15-97f8-104d3537ebc2",
      "name": "Responder a Chat Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4304,
        1264
      ]
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Chat Web Webhook').item.json.body.session_id || $('Chat Web Webhook').item.json.session_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Preparar Respuesta Web').item.json.message }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "e1ab703e-09c9-447b-b338-e8306c53c339",
      "name": "Guardar en chat_messages",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4080,
        880
      ]
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.body.data.object.metadata.session_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "🎉 ¡Pago recibido! Tu Pozu ya está en la parrilla 🔥\n\nGracias por tu pedido. Te avisaremos cuando esté listo para entrega.\n\n- Equipo Pozu 2.0"
            },
            {
              "fieldId": "sender",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "fc91c710-45d5-4150-8a2f-3d42fed3adbf",
      "name": "Notificar Web (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        2256
      ]
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__"
      },
      "id": "d808d7e1-3c45-4382-9f30-a98201ab00b7",
      "name": "Verificar Riesgo Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "VERDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verde - Confirmar"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "AMARILLO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Amarillo - Pendiente"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "ROJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Rojo - Rechazar"
            }
          ]
        },
        "options": {}
      },
      "id": "07fbdf2e-98eb-463b-8717-d8f97322950f",
      "name": "Evaluar Nivel Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2064,
        744
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e92bcae9-0c48-4e91-84ff-3a4856e6f4ad",
      "name": "Preparar Pedido Verde",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        664
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "confirmation_message",
              "value": "Para marchar tu pedido, confirma respondiendo OK",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e612ee78-4e8a-44e0-87a0-bb852427270e",
      "name": "Preparar Pedido Amarillo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        968
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rejection_message",
              "value": "Lo sentimos, detectamos incidencias previas. Para este pedido solo aceptamos pago con tarjeta.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "should_reject",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9cd5dbbe-4fd3-4fc1-9508-446a656a552d",
      "name": "Preparar Mensaje Rechazo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3632,
        1360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "844f3abe-cf98-46f8-aed0-b1c77c38fae6",
      "name": "Identificar Canal Rechazo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3856,
        1328
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $('Preparar Mensaje Rechazo').item.json.rejection_message }}\"\n}",
        "options": {}
      },
      "id": "75745053-aef2-48f9-95b9-6215875f6e31",
      "name": "Rechazar Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4080,
        1072
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Preparar Mensaje Rechazo').item.json.rejection_message }}",
        "additionalFields": {}
      },
      "id": "747411c2-7028-4773-81ec-71e680e635ed",
      "name": "Rechazar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4080,
        1264
      ],
      "webhookId": "38fd4106-160d-4845-a317-6ebefb301b01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__evolution_api_base_url__>/message/sendText/<__PLACEHOLDER_VALUE__instance_name__>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "<__PLACEHOLDER_VALUE__evolution_api_key__>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Evolution API Webhook').item.json.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Mensaje Rechazo').item.json.rejection_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7087073-6ad6-4e6c-aa20-83df7f816b11",
      "name": "Rechazar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        1456
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "={{ $('Preparar Mensaje Rechazo').item.json.rejection_message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "session_id",
              "value": "={{ $('Chat Web Webhook').item.json.body.session_id || $('Chat Web Webhook').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c97af76b-493f-4a8f-93ba-823ae93cbf64",
      "name": "Preparar Rechazo Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4080,
        1648
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Transcribir Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizar Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagen": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Unificar Contenido": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "Verificar Riesgo Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido en Supabase": {
      "main": [
        [
          {
            "node": "Identificar Canal Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Respuesta": {
      "main": [
        [
          {
            "node": "Responder a Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta Verificar Productos": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Método Pago": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pago Tarjeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Solicitud Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Solicitud Pago": {
      "main": [
        [
          {
            "node": "Solicitar Pago WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Solicitar Pago Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pago Tarjeta": {
      "main": [
        [
          {
            "node": "Generar Link Pago (Stripe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Link Pago (Stripe)": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Marcar como Pagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Pagado": {
      "main": [
        [
          {
            "node": "Identificar Canal Notificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Notificación": {
      "main": [
        [
          {
            "node": "Notificar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Notificar Web (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Web": {
      "main": [
        [
          {
            "node": "Guardar en chat_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en chat_messages": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder a Vapi": {
      "main": [
        []
      ]
    },
    "Verificar Riesgo Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Nivel Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Nivel Riesgo": {
      "main": [
        [
          {
            "node": "Preparar Pedido Verde",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pedido Amarillo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Verde": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Amarillo": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Rechazo": {
      "main": [
        [
          {
            "node": "Identificar Canal Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Rechazo": {
      "main": [
        [
          {
            "node": "Rechazar Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Rechazo Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Rechazo Web": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "80f0ab64-fc62-4745-9f3b-3b88344d68d1",
  "meta": {
    "instanceId": "b7055e02822e41ef046ddf67c0675ddb53f21ade0a2e64dec0fc7bd66774c417"
  },
  "id": "kl1s1KlKBur7t1qD",
  "tags": []
}