n8n_Pozu_2.0_Workflow_Merged.json
{
  "name": "Pozu 2.0 - Multichannel Sales AI (v3.0 Dynamic)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e93aac04-3f13-4aa7-8d77-5abfecb11965",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        856
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "options": {}
      },
      "id": "83c74d17-207b-4532-b9dc-7d2de722959e",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1048
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.audioMessage || $json.message?.audio || $json.message?.voice || $json.body?.type === 'audio' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.imageMessage || $json.message?.photo || $json.message?.image || $json.body?.type === 'image' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "936a56dc-aa71-42f4-ba72-3aa1ed255292",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "contenido_procesado",
              "value": "={{ $json.message || $json.body?.message || $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript || 'Sin texto' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' ? 'website_chat' : ($json.data?.key ? 'whatsapp' : ($json.message ? 'telegram' : 'vapi')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e19e761-43cf-4b77-8da0-2f9d446f6701",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        664
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "feature_flags"
            }
          ]
        }
      },
      "id": "fetch-flags",
      "name": "Consultar Feature Flags",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "delivery_settings"
            }
          ]
        }
      },
      "id": "fetch-delivery",
      "name": "Consultar Delivery Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "id": "b3af523a-85be-4338-96f0-629ecdd713e3",
      "name": "Unificar Contenido",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        648
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "350823f0-0605-4056-b79e-bc5fdd7a1268",
      "name": "Transcribir Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        856
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "text": "Analiza esta imagen de un pedido de comida. Extrae: productos visibles, cantidades, precios si están escritos, y cualquier nota especial. Describe todo en español de forma detallada.",
        "options": {}
      },
      "id": "513b3c99-3ebc-40e0-b6f2-23e9fd78e503",
      "name": "Analizar Imagen",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        1048
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.contenido_procesado || $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el gestor de ventas inteligente de Pozu 2.0 (v3.0). Tu misión es convertir mensajes de clientes en pedidos estructurados aplicando la lógica actual de Asturias.\n\n**ESTADO DEL NEGOCIO (Dinamico):**\n- Pagos Online: {{ $('Consultar Feature Flags').item.json.value.online_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Pagos Efectivo: {{ $('Consultar Feature Flags').item.json.value.cash_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Mantenimiento: {{ $('Consultar Feature Flags').item.json.value.maintenance_mode ? 'ACTIVO (Pedir disculpas)' : 'Inactivo' }}\n\n**REGLAS DE FINANZAS:**\n- IVA: {{ $('Consultar Delivery Settings').item.json.value.tax_percentage }}% (Solo si habilitado: {{ $('Consultar Delivery Settings').item.json.value.taxes_enabled }})\n- Costo Envío: {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n\n**PROTOCOLO OBLIGATORIO:**\n1. **Salsas**: Si el cliente pide 'Cesta de Patatas' o fritos, PREGUNTA qué salsa quiere (Alioli, Brava, Miel y Mostaza, Ketchup).\n2. **Hamburguesas**: Ofrece la opción de 'Pollo Crujiente' por +2€ si detectas una hamburguesa.\n3. **Cálculo**: Calcula Subtotal, Tax (si habilitado), Delivery y Total Final.\n4. **Teléfono**: Si es Delivery, pídeles siempre un teléfono de Asturias.\n\n**FORMATO DE SALIDA (JSON):**\n```json\n{\n  \"nombre_cliente\": \"string\",\n  \"telefono_cliente\": \"string\",\n  \"direccion_asturias\": \"string\",\n  \"detalle_pedido\": \"incluyendo salsas/extras\",\n  \"metodo_pago\": \"Efectivo / Tarjeta / Pendiente\",\n  \"subtotal\": 0.00,\n  \"tax_amount\": 0.00,\n  \"delivery_fee\": 0.00,\n  \"total_final\": 0.00,\n  \"necesita_link_pago\": true/false\n}\n```"
        }
      },
      "id": "50212900-aca1-4eec-92c1-9461fedc5caa",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        760
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "5f90f565-142b-42e7-98cc-111c2397542c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "={{ $json.status || ($json.output.metodo_pago === 'Efectivo' ? 'confirmed' : 'pending') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "order_type",
              "value": "={{ $json.output.canal_origen === 'vapi' ? 'phone' : 'delivery' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "payment_method",
              "value": "={{ $json.output.metodo_pago === 'Efectivo' ? 'cash' : ($json.output.metodo_pago === 'Tarjeta' ? 'card' : 'pending') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "guest_info",
              "value": "={{ JSON.stringify({ \"full_name\": $json.output.nombre_cliente, \"phone\": $json.output.telefono_cliente }) }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "delivery_address",
              "value": "={{ JSON.stringify({ \"street\": $json.output.direccion_asturias }) }}",
              "type": "object"
            },
            {
              "id": "id-6",
              "name": "notes",
              "value": "={{ $json.output.detalle_pedido }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "total",
              "value": "={{ $json.output.total_final }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "subtotal",
              "value": "={{ $json.output.subtotal }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "tax_amount",
              "value": "={{ $json.output.tax_amount }}",
              "type": "number"
            },
            {
              "id": "id-10",
              "name": "delivery_fee",
              "value": "={{ $json.output.delivery_fee }}",
              "type": "number"
            },
            {
              "id": "id-11",
              "name": "source",
              "value": "={{ $('Unificar Contenido').item.json.canal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7726047a-1206-489b-9787-0691c4925b3d",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        592
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"nombre_cliente\":\"Juan\",\"total_final\": 25.50}"
      },
      "id": "9c15418c-25d9-4ddc-a975-b7c27c3c1142",
      "name": "JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1632,
        984
      ]
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "95647873-c42d-4c20-bd9c-5545689b2923",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unificar Contenido').item.json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "babdda57-7cb3-47cb-83f7-1921e4d2a2d2",
      "name": "Identificar Canal Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3632,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Pedido recibido satisfactoriamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d6799104-43f9-4e44-9c06-2cbf03994e4c",
      "name": "Responder a Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3856,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ *Pedido confirmado*\n\nSubtotal: {{ $('Preparar para Supabase').item.json.subtotal }}€\nIVA: {{ $('Preparar para Supabase').item.json.tax_amount }}€\nEnvío: {{ $('Preparar para Supabase').item.json.delivery_fee }}€\n*Total: {{ $('Preparar para Supabase').item.json.total }}€*\n\n📍 Tracking: https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "9898ec03-db27-4212-a21e-eeeb316d5dba",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3856,
        688
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "options": {}
      },
      "id": "90a620c1-80c4-474f-837c-2c8eaa1f2cc5",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        664
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Evolution API Webhook').item.json.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "✅ Pedido confirmado!\nTotal: {{ $('Preparar para Supabase').item.json.total }}€\nIVA incluido: {{ $('Preparar para Supabase').item.json.tax_amount }}€\nSigue tu pedido aquí: https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14b7ca1a-9180-4197-8ef0-7565d1809700",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3856,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "969b66e5-4483-473a-ab0b-1c3c46fef1a9",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1350,
        760
      ]
    },
    {
      "parameters": {
        "name": "verificar_producto",
        "description": "Busca ingredientes, alérgenos y precios. Reporta si un producto tiene extras como 'Pollo (+2€)' o requiere salsas.",
        "jsCode": "const nombreProducto = $fromAI('product_name', 'Nombre del producto', 'string');\nconst productos = $('Consultar Catálogo Productos').all();\nconst nombreBuscado = nombreProducto.toLowerCase();\nconst p = productos.find(item => item.json.name?.toLowerCase().includes(nombreBuscado));\n\nif (!p) return `Producto no encontrado.`;\n\nconst item = p.json;\nlet extraInfo = '';\nif (item.name.toLowerCase().includes('hamburguesa')) extraInfo = 'OPCIÓN: Pollo Crujiente (+2€ por unidad).';\nif (item.name.toLowerCase().includes('cesta')) extraInfo = 'OBLIGATORIO: Elegir salsa (Alioli, Brava, Miel y Mostaza, Ketchup).';\n\nreturn `VERIFICADO: ${item.name} | Precio: ${item.price}€ | Alérgenos: ${item.allergens || 'Consultar'} | ${extraInfo}`;"
      },
      "id": "ce3751e1-1135-4fb6-a479-7d12872ddf67",
      "name": "Herramienta Verificar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1700,
        984
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Efectivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Efectivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Tarjeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarjeta"
            }
          ]
        },
        "options": {}
      },
      "id": "f54f75ee-5640-4128-ab58-cd1d5a8557ad",
      "name": "Verificar Método Pago",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2512,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "amount",
              "value": "={{ $json.output.total_final * 100 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a8e06678-558d-4bd1-8ad5-b3265f8785a4",
      "name": "Preparar Pago Tarjeta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        520
      ]
    },
    {
      "parameters": {
        "resource": "charge"
      },
      "id": "52715b69-2d9c-4e54-8030-d6e097141846",
      "name": "Generar Link Pago (Stripe)",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        2960,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-stripe-pozu",
        "options": {}
      },
      "id": "1a42d736-9d81-4a66-8fa6-097f9137be98",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        2064
      ],
      "webhookId": "d374f787-b38d-4e5a-a04c-da9957fc74ff"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders"
      },
      "id": "561abe17-83b5-4b06-a351-1401c055c348",
      "name": "Marcar como Pagado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        2064
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bbda9d3-a601-44f3-bdec-97b72d1dc952",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1240
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "✅ Pedido marchando! Total: {{ $('Preparar para Supabase').item.json.total }}€",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc9d69ca-d39d-43df-add5-cad346211930",
      "name": "Preparar Respuesta Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        880
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "67922971-5f7c-4e15-97f8-104d3537ebc2",
      "name": "Responder a Chat Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4304,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "__CUSTOM_API_CALL__"
      },
      "id": "d808d7e1-3c45-4382-9f30-a98201ab00b7",
      "name": "Verificar Riesgo Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "VERDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verde - Confirmar"
            }
          ]
        },
        "options": {}
      },
      "id": "07fbdf2e-98eb-463b-8717-d8f97322950f",
      "name": "Evaluar Nivel Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2064,
        744
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e92bcae9-0c48-4e91-84ff-3a4856e6f4ad",
      "name": "Preparar Pedido Verde",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        664
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Transcribir Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizar Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagen": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Feature Flags": {
      "main": [
        [
          {
            "node": "Consultar Delivery Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Delivery Settings": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Unificar Contenido": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "Verificar Riesgo Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta Verificar Productos": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Riesgo Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Nivel Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Nivel Riesgo": {
      "main": [
        [
          {
            "node": "Preparar Pedido Verde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Verde": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Método Pago": {
      "main": [
        [
          {
            "node": "Preparar Pago Tarjeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pago Tarjeta": {
      "main": [
        [
          {
            "node": "Generar Link Pago (Stripe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Link Pago (Stripe)": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido en Supabase": {
      "main": [
        [
          {
            "node": "Identificar Canal Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Respuesta": {
      "main": [
        [
          {
            "node": "Responder a Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Web": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
