n8n_Pozu_2.0_Workflow.json
{
  "name": "Pozu 2.0 AI Sales Manager - v3.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e93aac04-3f13-4aa7-8d77-5abfecb11965",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        856
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "options": {}
      },
      "id": "83c74d17-207b-4532-b9dc-7d2de722959e",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1048
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "options": {}
      },
      "id": "90a620c1-80c4-474f-837c-2c8eaa1f2cc5",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        664
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3bbda9d3-a601-44f3-bdec-97b72d1dc952",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1240
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.audioMessage || $json.message?.audio || $json.message?.voice || $json.body?.type === 'audio' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.imageMessage || $json.message?.photo || $json.message?.image || $json.body?.type === 'image' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "936a56dc-aa71-42f4-ba72-3aa1ed255292",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "contenido_procesado",
              "value": "={{ $json.message || $json.body?.message || $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.message?.text || $json.body?.text || $json.transcript || 'Sin texto' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' ? 'website_chat' : ($json.data?.key ? 'whatsapp' : ($json.message ? 'telegram' : 'vapi')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e19e761-43cf-4b77-8da0-2f9d446f6701",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        664
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "feature_flags"
            }
          ]
        }
      },
      "id": "fetch-feature-flags",
      "name": "Consultar Feature Flags",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "delivery_settings"
            }
          ]
        }
      },
      "id": "fetch-delivery-settings",
      "name": "Consultar Delivery Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "id": "b3af523a-85be-4338-96f0-629ecdd713e3",
      "name": "Unificar Contenido",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        744
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "969b66e5-4483-473a-ab0b-1c3c46fef1a9",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        760
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.contenido_procesado || $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el gestor de ventas inteligente de Pozu 2.0 (v3.0). Tu misión es convertir mensajes de clientes en pedidos estructurados aplicando la lógica de negocio actual.\n\n**ESTADO DEL NEGOCIO (Dinamico):**\n- Pagos Online: {{ $('Consultar Feature Flags').item.json.value.online_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Pagos Efectivo: {{ $('Consultar Feature Flags').item.json.value.cash_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Delivery: {{ $('Consultar Feature Flags').item.json.value.delivery_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Mantenimiento: {{ $('Consultar Feature Flags').item.json.value.maintenance_mode ? 'ACTIVO (No tomar pedidos)' : 'Inactivo' }}\n\n**REGLAS DE FINANZAS:**\n- IVA Habilitado: {{ $('Consultar Delivery Settings').item.json.value.taxes_enabled }}\n- IVA Porcentaje: {{ $('Consultar Delivery Settings').item.json.value.tax_percentage }}%\n- Costo Delivery fijo: {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n- Pedido Mínimo: {{ $('Consultar Delivery Settings').item.json.value.min_order_amount }}€\n\n**PROTOCOLO DE ACTUACIÓN:**\n\n1. **Validación de Productos**: Usa verificar_producto. Si es Hamburguesa, ofrece 'Pollo Crujiente' (+2€). Si es 'Cesta de Patatas' u otros fritos, ES OBLIGATORIO elegir salsa (Alioli, Brava, Miel y Mostaza, Ketchup).\n\n2. **Cálculo de Totales**: \n   - Subtotal = Suma de productos verificados.\n   - Impuestos = Si IVA habilitado, Subtotal * (Porcentaje IVA / 100).\n   - Delivery = Sumar cargo si es pedido a domicilio.\n   - Total = Subtotal + Impuestos + Delivery.\n\n3. **Restricción de Pagos**: Si un método está desactivado por el administrador, no lo ofrezcas. Si el cliente lo pide, discúlpate e indica los métodos disponibles.\n\n4. **Mantenimiento**: Si el modo mantenimiento está activo, informa amablemente que la cocina está cerrada por mejoras y no proceses el pedido.\n\n**FORMATO DE SALIDA (JSON):**\n```json\n{\n  \"nombre_cliente\": \"string\",\n  \"telefono_cliente\": \"string\",\n  \"direccion_asturias\": \"string\",\n  \"detalle_pedido\": \"Lista resumida con salsas y extras\",\n  \"metodo_pago\": \"Efectivo / Tarjeta / Pendiente\",\n  \"subtotal\": 0.00,\n  \"tax_amount\": 0.00,\n  \"delivery_fee\": 0.00,\n  \"total_final\": 0.00,\n  \"necesita_link_pago\": true/false\n}\n```"
        }
      },
      "id": "50212900-aca1-4eec-92c1-9461fedc5caa",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1432,
        760
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "5f90f565-142b-42e7-98cc-111c2397542c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        984
      ]
    },
    {
      "parameters": {
        "name": "verificar_producto",
        "description": "Busca ingredientes, alérgenos y precios. Reporta si un producto tiene extras como 'Pollo (+2€)' o requiere salsas.",
        "jsCode": "const nombreProducto = $fromAI('product_name', 'Nombre del producto', 'string');\nconst productos = $('Consultar Catálogo Productos').all();\nconst nombreBuscado = nombreProducto.toLowerCase();\nconst p = productos.find(item => item.json.name?.toLowerCase().includes(nombreBuscado));\n\nif (!p) return `Producto no encontrado.`;\n\nconst item = p.json;\nlet extraInfo = '';\nif (item.name.toLowerCase().includes('hamburguesa')) extraInfo = 'OPCIÓN: Pollo Crujiente (+2€ por unidad).';\nif (item.name.toLowerCase().includes('cesta')) extraInfo = 'OBLIGATORIO: Elegir salsa (Alioli, Brava, Miel y Mostaza, Ketchup).';\n\nreturn `VERIFICADO: ${item.name} | Precio: ${item.price}€ | Alérgenos: ${item.allergens || 'Consultar'} | ${extraInfo}`;"
      },
      "id": "ce3751e1-1135-4fb6-a479-7d12872ddf67",
      "name": "Herramienta Verificar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1504,
        984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subtotal",
              "value": "={{ $json.output.subtotal }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "tax_amount",
              "value": "={{ $json.output.tax_amount }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "delivery_fee",
              "value": "={{ $json.output.delivery_fee }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "total",
              "value": "={{ $json.output.total_final }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "payment_method",
              "value": "={{ $json.output.metodo_pago === 'Tarjeta' ? 'card' : 'cash' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "delivery_address",
              "value": "={{ JSON.stringify({ \"street\": $json.output.direccion_asturias }) }}",
              "type": "object"
            },
            {
              "id": "id-7",
              "name": "guest_info",
              "value": "={{ JSON.stringify({ \"full_name\": $json.output.nombre_cliente, \"phone\": $json.output.telefono_cliente }) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7726047a-1206-489b-9787-0691c4925b3d",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        760
      ]
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "95647873-c42d-4c20-bd9c-5545689b2923",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        760
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Feature Flags": {
      "main": [
        [
          {
            "node": "Consultar Delivery Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Delivery Settings": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Contenido": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}