workflow_POZU_FULL_FIXED.json
{
  "name": "Pozu 2.0 - Multichannel Sales AI (v3.0 Dynamic)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b2a84f45-0866-4fc0-b40b-e7250a8652b0",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2864,
        944
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "options": {}
      },
      "id": "eb69d3b2-74a9-49d3-b63e-73ac3d98857a",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2864,
        1136
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.source === 'website_chat' || $json.body?.source === 'website_chat') ? 'si' : '' }}",
                    "rightValue": "si",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.voice || $json.message?.audio || $json.message?.document?.mime_type?.includes('audio')) ? 'audio' : '' }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.photo || $json.message?.document?.mime_type?.includes('image')) ? 'imagen' : '' }}",
                    "rightValue": "imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.text || $json.message?.caption || $json.transcript || $json.body?.text) ? 'texto' : '' }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f9d32418-ba59-4179-b323-291e0f0289f1",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2416,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "feature_flags"
            }
          ]
        }
      },
      "id": "b095292f-92ee-4ca1-bae0-8ea08d7a2d73",
      "name": "Consultar Feature Flags",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1616,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "delivery_settings"
            }
          ]
        }
      },
      "id": "4fde9cb6-5c7d-46b4-8240-a576f26fd21f",
      "name": "Consultar Delivery Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1392,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.transcript || $json.message?.text || $json.body?.text || '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Saluda al cliente por su nombre: {{ $('🛡️ Blindar Metadata').item.json.nombre_usuario }}\n\nEres el gestor de ventas inteligente de Pozu 2.0 (v3.0). Tu misión es convertir mensajes de clientes en pedidos estructurados aplicando la lógica actual de Asturias.\n\n**ESTADO DEL NEGOCIO (Dinamico):**\n- Pagos Online: {{ $('Consultar Feature Flags').item.json.value.online_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Pagos Efectivo: {{ $('Consultar Feature Flags').item.json.value.cash_payments_enabled ? 'HABILITADO' : 'DESACTIVADO' }}\n- Mantenimiento: {{ $('Consultar Feature Flags').item.json.value.maintenance_mode ? 'ACTIVO (Pedir disculpas)' : 'Inactivo' }}\n\n**REGLAS DE FINANZAS:**\n- IVA: {{ $('Consultar Delivery Settings').item.json.value.tax_percentage }}% (Solo si habilitado: {{ $('Consultar Delivery Settings').item.json.value.taxes_enabled }})\n- Costo Envío: {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n\n**PROTOCOLO OBLIGATORIO:**\n1. **Salsas**: Si el cliente pide 'Cesta de Patatas' o fritos, PREGUNTA qué salsa quiere (Alioli, Brava, Miel y Mostaza, Ketchup).\n2. **Hamburguesas**: Ofrece la opción de 'Pollo Crujiente' por +2€ si detectas una hamburguesa.\n3. **Cálculo**: Calcula Subtotal, Tax (si habilitado), Delivery y Total Final.\n4. **Teléfono**: Si es Delivery, pídeles siempre un teléfono de Asturias.\n\n**FORMATO DE SALIDA (JSON):**\n```json\n{\n  \"nombre_cliente\": \"string\",\n  \"telefono_cliente\": \"string\",\n  \"direccion_asturias\": \"string\",\n  \"detalle_pedido\": \"incluyendo salsas/extras\",\n  \"metodo_pago\": \"Efectivo / Tarjeta / Pendiente\",\n  \"subtotal\": 0.00,\n  \"tax_amount\": 0.00,\n  \"delivery_fee\": 0.00,\n  \"total_final\": 0.00,\n  \"necesita_link_pago\": true/false\n}\n```"
        }
      },
      "id": "56d7e341-ddc2-4b01-bffa-c7c62c94ff8f",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "customer_name",
              "value": "={{ $json.output.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "customer_phone",
              "value": "={{ $json.output.telefono_cliente }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "delivery_address",
              "value": "={{ $json.output.direccion_asturias }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "status",
              "value": "={{ $json.output.metodo_pago === 'Efectivo' ? 'confirmed' : 'pending' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "payment_status",
              "value": "unpaid",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "subtotal",
              "value": "={{ $json.output.subtotal }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "tax_amount",
              "value": "={{ $json.output.tax_amount }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "total",
              "value": "={{ $json.output.total_final }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "source",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "items",
              "value": "={ \"detalle\": {{ $json.output?.detalle_pedido || $json.output?.items || '' }}, \"metodo_pago\": {{ $json.output?.metodo_pago || 'Pendiente' }} }",
              "type": "object"
            },
            {
              "id": "id-11",
              "name": "items_raw",
              "value": "={{ JSON.stringify({ \"detalle\": $json.output?.detalle_pedido, \"metodo_pago\": $json.output?.metodo_pago }) }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fc998c1f-7c2d-4346-ab55-3d102df66325",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        1040
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"nombre_cliente\":\"Juan\",\"total_final\": 25.50}"
      },
      "id": "11cabe0b-e4f8-4ade-9c6d-48c552ff3aa9",
      "name": "JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -560,
        1264
      ]
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "2accac5b-b288-43c5-96aa-30d6ee72260b",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        1376
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39a0637a-8f1c-4b4d-a407-26ee9317c096"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be7b07a-726f-4527-ab7d-cc4f4584597e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8078286c-097e-4aa6-8f3f-ecf6de070278"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f306f0f4-3c1d-45d5-a6e1-58ddba8b7628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "1ea74511-1ef7-4a25-99d3-93271f7d9cf7",
      "name": "Identificar Canal Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1680,
        1344
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Pedido recibido satisfactoriamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "4570faba-9d10-4c55-a1a6-dd1f032d9dd8",
      "name": "Responder a Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        1056
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "text": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 *Resumen de tu pedido:*\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 *Entrega:* {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 *Pago:* {{ $('Preparar para Supabase').item.json.items.metodo_pago === 'Efectivo' ? 'En efectivo al recibir' : 'Tarjeta (Online)' }}\n\n💰 *Subtotal:* {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 *Envío:* {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 *Total:* {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e56eb303-b89c-46a0-ae16-32d8883bdb9b",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        1248
      ],
      "webhookId": "b29027d2-d721-4836-8ef5-80c193db1970",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "options": {}
      },
      "id": "2f27525d-d67a-4ce9-b49b-c23edb936b30",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2864,
        752
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 **Resumen de tu pedido:**\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 **Entrega:** {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 **Pago:** {{ $('Preparar para Supabase').item.json.items.metodo_pago === 'Efectivo' ? 'En efectivo al recibir' : 'Tarjeta (Online)' }}\n\n💰 **Subtotal:** {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 **Envío:** {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 **Total:** {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8fbd26f8-6711-437c-9222-b967ca83457a",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "af0473ea-8c3f-413e-960b-38393d2b226b",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1168,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "verificar_producto",
        "description": "Busca ingredientes, alérgenos y precios. Reporta si un producto tiene extras como 'Pollo (+2€)' o requiere salsas.",
        "jsCode": "const nombreProducto = $fromAI('product_name', 'Nombre del producto', 'string');\nconst productos = $('Consultar Catálogo Productos').all();\nconst nombreBuscado = nombreProducto.toLowerCase();\nconst p = productos.find(item => item.json.name?.toLowerCase().includes(nombreBuscado));\n\nif (!p) return `Producto no encontrado.`;\n\nconst item = p.json;\nlet extraInfo = '';\nif (item.name.toLowerCase().includes('hamburguesa')) extraInfo = 'OPCIÓN: Pollo Crujiente (+2€ por unidad).';\nif (item.name.toLowerCase().includes('cesta')) extraInfo = 'OBLIGATORIO: Elegir salsa (Alioli, Brava, Miel y Mostaza, Ketchup).';\n\nreturn `VERIFICADO: ${item.name} | Precio: ${item.price}€ | Alérgenos: ${item.allergens || 'Consultar'} | ${extraInfo}`;"
      },
      "id": "22c82808-6188-4256-bfba-f5233f6a69e4",
      "name": "Herramienta Verificar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        -688,
        1264
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Efectivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "670bc859-89a4-4593-ade9-fd907d684539"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Efectivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.metodo_pago }}",
                    "rightValue": "Tarjeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b22dd48-d477-4a30-8801-9ec5c7c5d6c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarjeta"
            }
          ]
        },
        "options": {}
      },
      "id": "d5600432-24a3-4ada-a91b-e7749a40cb28",
      "name": "Verificar Método Pago",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "amount",
              "value": "={{ $json.output.total_final * 100 }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "currency",
              "value": "eur",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "=Pedido Pozu - {{ $json.output.nombre_cliente }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "61e7ec9f-7cff-410e-9015-04b4c45a9367",
      "name": "Preparar Pago Tarjeta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        960
      ]
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__"
      },
      "id": "e23e6b30-34bc-400f-a585-82b89208af9b",
      "name": "Generar Link Pago (Stripe)",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        784,
        960
      ],
      "credentials": {
        "stripeApi": {
          "id": "vRgvSqM8lkgQIypg",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-stripe-pozu",
        "options": {}
      },
      "id": "c64ec62c-c4ef-45a8-9f13-8a4367adcd99",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2864,
        2752
      ],
      "webhookId": "d374f787-b38d-4e5a-a04c-da9957fc74ff"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.data.object.metadata.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            },
            {
              "fieldId": "payment_status",
              "fieldValue": "paid"
            },
            {
              "fieldId": "paid_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "898ea9d1-a393-4974-ae93-bebbf6aefa06",
      "name": "Marcar como Pagado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2640,
        2752
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7fd4895a-cb10-4f9b-bad5-bbe5fb6eca50",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2864,
        1328
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "=✅ ¡Oído cocina, {{ $json.customer_name || 'Fiera' }}! Tu pedido está marchando. 🍔🍟\n\n📦 Resumen:\n{{ $json.items?.detalle || 'Pedido registrado' }}\n\n📍 Entrega: {{ $json.delivery_address || 'Recogida en local' }}\n💳 Pago: {{ $json.items?.metodo_pago || 'Pendiente' }}\n\n💰 Total: {{ $json.total }}€\n\nSigue tu pedido aquí:\n🔗 https://pozu2.com/pedidos/tracking?id={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5f42598-bbc9-43eb-8395-ce23b8aa0c61",
      "name": "Preparar Respuesta Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1632
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8e96f07c-1401-4931-afb8-0da840a5042e",
      "name": "Responder a Chat Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2128,
        1632
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "orders",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "guest_info->phone",
              "keyValue": "={{ $('Extraer Datos Estructurados').item.json.output.telefono_cliente }}"
            }
          ]
        }
      },
      "id": "ec381278-ea73-4970-b49c-9d732dbe2c71",
      "name": "Verificar Riesgo Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -352,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "VERDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verde - Confirmar"
            }
          ]
        },
        "options": {}
      },
      "id": "9bd7141c-7369-4433-9ec8-266fdd9c1011",
      "name": "Evaluar Nivel Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d2266e74-e026-4df6-9e87-cf629a7cce7a",
      "name": "Preparar Pedido Verde",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "41fb66e4-6664-4876-b2d7-ad46f297068e",
      "name": "Error Trigger - OpenAI Failures",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2864,
        2336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "alert_message",
              "value": "=🚨 ERROR EN GROQ - Pozu 2.0\n\n❌ Nodo: {{ $json.node.name }}\n⚠️ Error: {{ $json.error.message }}\n🕐 Timestamp: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}\n\n💡 Posibles causas:\n- Créditos agotados en Groq\n- Servicio caído\n- Límite de rate exceeded\n\n⚡ Acción requerida: Verificar cuenta Groq",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96162a49-8b20-49b0-b09f-a9b201e5a0e2",
      "name": "Preparar Alerta Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        2336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "42e88e7e-bbea-4df3-a9b7-f29f476801a6",
      "name": "Enviar Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2192,
        2528
      ],
      "webhookId": "720d36e0-20cf-43af-9f38-3de969f04130",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "error_logs",
        "dataToSend": "autoMapInputData"
      },
      "id": "ed34433e-2f76-44eb-93eb-27b82cbb8b43",
      "name": "Registrar Error en DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2192,
        2336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_error",
              "value": "¡Ups! 🔧 Estamos experimentando un pequeño retraso técnico en la cocina. Un agente humano revisará tu pedido ahora mismo y te contactaremos en breve. ¡Disculpa las molestias!",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "196525be-bfa3-44e4-b2df-f32290323c47",
      "name": "Preparar Respuesta Error Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2192,
        2144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "6700f1db-f5bc-491e-972c-24621d30f5ad",
      "name": "Identificar Canal Error",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1968,
        2112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.workflow?.metadata?.remoteJid || $json.workflow?.metadata?.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "764b8bf7-5308-4add-8505-e1cd015cbc2e",
      "name": "Enviar Error WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1744,
        1856
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.workflow?.metadata?.chat_id }}",
        "text": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "17ab3a13-bf7b-42db-b66e-0a99d08d3eea",
      "name": "Enviar Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1744,
        2048
      ],
      "webhookId": "56353ef3-c5f1-45ce-9e5c-fcd144da031b",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Lo siento, no he podido procesar esa información. ¿Podrías repetirlo o prefieres que te llame un compañero?\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "02d2b3d1-c0ae-4326-ad4f-57a2cab38170",
      "name": "Responder Error Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1744,
        2240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": $('Preparar Respuesta Error Cliente').item.json.mensaje_error, \"error\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cfa6d6a2-7a8e-49e8-a773-0c3dafcab00b",
      "name": "Responder Error Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1744,
        2432
      ]
    },
    {
      "parameters": {
        "content": "## 📥 ENTRADA MULTICANAL\n\n**Canales activos:**\n- 📞 Vapi (llamadas telefónicas)\n- 💬 Telegram\n- 📱 WhatsApp (Evolution API)\n- 🌐 Chat Web (Next.js)\n\n**Datos recibidos:**\n- Texto, audio, imágenes\n- Metadata del canal (ID, sesión, remitente)\n- Timestamp y contexto",
        "height": 804,
        "width": 524,
        "color": 3
      },
      "id": "237e8522-bc94-4372-bee8-3dac4952eec7",
      "name": "📥 ENTRADA MULTICANAL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3072,
        688
      ]
    },
    {
      "parameters": {
        "content": "## 🔍 CLASIFICACIÓN Y PROCESAMIENTO\n\n**Tipos de contenido:**\n1. 🎤 Audio → Transcripción (OpenAI Whisper)\n2. 🖼️ Imagen → Análisis visual (GPT-4o Vision)\n3. 📝 Texto → Procesamiento directo\n\n**Unificación:**\n- Normaliza formato independiente del canal\n- Prepara para extracción estructurada",
        "height": 804,
        "width": 892
      },
      "id": "ea8ea844-bee1-43a6-a864-96f902493ae4",
      "name": "🔍 CLASIFICACIÓN Y PROCESAMIENTO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        608
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURACIÓN DINÁMICA\n\n**Feature Flags (Supabase):**\n- ✅/❌ Pagos online habilitados\n- ✅/❌ Pagos en efectivo\n- 🔧 Modo mantenimiento\n\n**Delivery Settings:**\n- 💰 IVA (% y habilitación)\n- 🚚 Costo de envío\n- 📍 Zonas de cobertura\n\n**Catálogo Productos:**\n- Precios actualizados\n- Alérgenos\n- Disponibilidad",
        "height": 640,
        "width": 332,
        "color": 5
      },
      "id": "eb6030bb-dc2f-4752-84ef-edffdb0d7405",
      "name": "⚙️ CONFIGURACIÓN DINÁMICA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        560
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 EXTRACCIÓN INTELIGENTE (AI)\n\n**AI Agent (GPT-4o) extrae:**\n- 👤 Nombre del cliente\n- 📞 Teléfono (Asturias)\n- 📍 Dirección de entrega\n- 🍔 Detalle del pedido (productos + cantidades)\n- 🍯 Salsas y extras\n- 💳 Método de pago preferido\n\n**Cálculos automáticos:**\n- Subtotal\n- IVA (si habilitado)\n- Envío\n- **Total final**\n\n**Salida:** JSON estructurado",
        "height": 740,
        "width": 636,
        "color": "#FFBA6B"
      },
      "id": "19cf414b-85ef-49a4-8b91-8f7d041bfda3",
      "name": "🤖 EXTRACCIÓN INTELIGENTE (AI)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        672
      ]
    },
    {
      "parameters": {
        "content": "## 🛡️ VERIFICACIÓN DE RIESGO\n\n**Consulta histórico del cliente:**\n- Pedidos previos\n- Tasa de cancelación\n- Pagos fallidos\n- Reportes de fraude\n\n**Niveles de riesgo:**\n- 🟢 VERDE → Confirmar automáticamente\n- 🟡 AMARILLO → Revisión manual\n- 🔴 ROJO → Bloquear\n\n**Acción:** Solo pedidos VERDES continúan",
        "height": 588,
        "width": 652,
        "color": "#888025"
      },
      "id": "b4d0cd2d-f0af-454b-9df9-93cf9bbb9752",
      "name": "🛡️ VERIFICACIÓN DE RIESGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        608
      ]
    },
    {
      "parameters": {
        "content": "## 💳 PROCESAMIENTO DE PAGO\n\n**Métodos disponibles:**\n\n1. **💵 Efectivo:**\n   - Confirmación inmediata\n   - Status: 'confirmed'\n   - Pago al recibir\n\n2. **💳 Tarjeta (Stripe):**\n   - Genera Payment Link\n   - Status: 'pending'\n   - Webhook confirma pago\n   - Auto-actualiza a 'confirmed'\n\n**Datos guardados:** Método + Link (si aplica)",
        "height": 672,
        "width": 684,
        "color": "#AEA80F"
      },
      "id": "724b9d8e-70d5-4cb1-a31e-4d74e0db2f89",
      "name": "💳 PROCESAMIENTO DE PAGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        528
      ]
    },
    {
      "parameters": {
        "content": "## 💾 PERSISTENCIA EN SUPABASE\n\n**Tabla: orders**\n\n**Campos guardados:**\n- status (confirmed/pending)\n- order_type (phone/delivery)\n- payment_method (cash/card)\n- guest_info (nombre, teléfono)\n- delivery_address\n- notes (detalle pedido)\n- subtotal, tax_amount, delivery_fee\n- **total**\n- source (canal origen)\n- created_at (timestamp)\n\n**Retorna:** ID del pedido para tracking",
        "height": 680,
        "width": 428,
        "color": "#34AD36"
      },
      "id": "87ee0924-a284-4c9b-91be-56f373d41468",
      "name": "💾 PERSISTENCIA EN SUPABASE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        720
      ]
    },
    {
      "parameters": {
        "content": "## 📤 RESPUESTA AL CLIENTE\n\n**Routing por canal:**\n\n- 📞 **Vapi:** JSON response\n- 💬 **Telegram:** Mensaje formateado + link tracking\n- 📱 **WhatsApp:** Texto vía Evolution API\n- 🌐 **Web Chat:** JSON + session_id\n\n**Información enviada:**\n- ✅ Confirmación del pedido\n- 💰 Desglose de costos\n- 🔗 Link de tracking\n- 💳 Link de pago (si tarjeta)\n\n**Tiempo respuesta:** < 10 segundos",
        "height": 1192,
        "width": 524,
        "color": "#F97A71"
      },
      "id": "8651ce64-0572-4a86-aed2-f6b3fa25a3fa",
      "name": "📤 RESPUESTA AL CLIENTE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🚨 SISTEMA DE ERRORES\n\n**Error Trigger captura fallos en:**\n- OpenAI (transcripción, visión, extracción)\n- Supabase (consultas, inserciones)\n- Stripe (generación de links)\n- APIs externas\n\n**Acciones automáticas:**\n1. 📱 Alerta a admin (Telegram)\n2. 💾 Log en error_logs (Supabase)\n3. 💬 Respuesta cortés al cliente\n4. 🔄 Preserva datos para revisión manual\n\n**Mensaje cliente:** \"Retraso técnico, agente humano te contactará\"",
        "height": 908,
        "width": 1468
      },
      "id": "f3f6881a-d672-48ec-9a7e-fb3c4ad711eb",
      "name": "🚨 SISTEMA DE ERRORES",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2992,
        1776
      ]
    },
    {
      "parameters": {
        "content": "## 💰 WEBHOOK STRIPE\n\n**Escucha eventos:**\n- payment_intent.succeeded\n- checkout.session.completed\n\n**Acción:**\n- Actualiza order status → 'confirmed'\n- Marca payment_status → 'paid'\n- Timestamp de pago\n\n**Flujo independiente:**\nNo bloquea la respuesta inicial al cliente",
        "height": 340,
        "width": 524,
        "color": "#E85ED6"
      },
      "id": "1363fa7e-235e-436d-89be-64db2bf6732e",
      "name": "💰 WEBHOOK STRIPE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3072,
        2576
      ]
    },
    {
      "parameters": {
        "content": "**🧪 UNIFICACIÓN DE ENTRADA\n\n\nFunción:\n\n🌪️ Filtro final: Recoge el resultado de las 3 ramas (Audio, Imagen o Texto).\n\n🧬 Normalización: Convierte cualquier entrada en una consulta limpia.\n\n🚦 Control de flujo: Usa chooseBranch para pasar solo el dato activo.\n\nResultado:\n\n💎 Query unificada: Lista para que el Agente de IA la procese.\n\n📦 Metadata preservada: Mantiene el ID del canal y del usuario.",
        "height": 688,
        "width": 304,
        "color": "#E9CECE"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1936,
        528
      ],
      "id": "51ad1911-5054-4a1a-8e40-1fec2eb13a55",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "canal_origen",
              "value": "={{ $json.source === 'website_chat' || $json.body?.source === 'website_chat' ? 'website_chat' : ($json.data?.key ? 'whatsapp' : ($json.message?.chat?.id ? 'telegram' : 'vapi')) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id || $json.data?.key?.remoteJid || $json.body?.session_id || $json.session_id || $json.message?.call?.customer?.number || 'desconocido' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "nombre_usuario",
              "value": "={{ $json.message?.from?.first_name || $json.data?.pushName || $json.body?.user_name || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "supabase_url",
              "value": "https://api.pozu2.com",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "supabase_key",
              "value": "{{ SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "GROQ_API_KEY",
              "value": "{{ GROQ_API_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "TELEGRAM_BOT_TOKEN",
              "value": "{{ TELEGRAM_BOT_TOKEN_PLACEHOLDER }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7fecfdfa-4347-40c1-b43b-a24dc679f61a",
      "name": "🛡️ Blindar Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ $json.message?.text || $json.message?.caption || $json.body?.text || $json.transcript }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ab61e3fb-5a4f-47b0-a04a-3033327dc9e0",
      "name": "Limpiar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        1248
      ]
    },
    {
      "parameters": {
        "sessionId": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}"
      },
      "id": "7bd42cb1-6b81-4b5f-ac19-8dbf08afe213",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -816,
        1264
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "511a5861-3cde-48b4-b211-ad6e8f7af7cd",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -944,
        1264
      ],
      "credentials": {
        "groqApi": {
          "id": "BBbK7osM2iZ737PN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.photo?.[0]?.file_id || $json.data?.message?.imageMessage?.url || 'imagen recibida' }}",
        "options": {
          "systemMessage": "Eres un asistente visual de Pozu 2.0. Analiza la imagen recibida y describe qué productos del menú se pueden identificar. Si es una foto de un pedido escrito, transcribe el texto completo. Si es una imagen de productos, describe qué items se ven y sus características. Sé preciso y conciso."
        }
      },
      "id": "e74599e2-0ada-4d1b-ba74-961ad28ca5dd",
      "name": "Analizar Imagen con Groq",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2192,
        560
      ]
    },
    {
      "parameters": {
        "model": "llama-3.2-90b-vision-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "430b3ff9-a2a6-4694-a05b-4518502b7d92",
      "name": "Groq Vision Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2112,
        784
      ],
      "credentials": {
        "groqApi": {
          "id": "BBbK7osM2iZ737PN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('🛡️ Blindar Metadata').item.json.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "e8cba360-df68-4e4f-8307-1a7ea6d8df48",
      "name": "Transcribir Audio con Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2128,
        928
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2CxYthd5YFXXOqd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.total }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.items }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2b5f24a7-f075-4b24-b264-4c3013853b13",
      "name": "Validar Datos Pedido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_incompleto",
              "value": "Fiera, no me ha quedado claro qué quieres pedir. ¿Me lo repites?",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f2a43c7e-1a21-4597-b5a4-f108fe3b25e8",
      "name": "Preparar Mensaje Datos Incompletos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "1a91c10e-0f4a-4a85-a2b1-402d46bd4a7a",
      "name": "Identificar Canal Datos Incompletos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1680,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje_incompleto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "94dc4623-39bf-4426-b663-efaf0900f363",
      "name": "Responder Datos Incompletos WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        288
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "text": "={{ $json.mensaje_incompleto }}",
        "additionalFields": {}
      },
      "id": "1c172a11-3c40-4657-8b01-13531fff8abe",
      "name": "Responder Datos Incompletos Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        480
      ],
      "webhookId": "661d88cd-2a03-4829-91f1-022586299ae5",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": $json.mensaje_incompleto }",
        "options": {}
      },
      "id": "874430a4-41cc-4d91-aa88-df25f4861cbd",
      "name": "Responder Datos Incompletos Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": $json.mensaje_incompleto, \"incomplete_data\": true }",
        "options": {}
      },
      "id": "aa10afa3-6dcb-4e19-b4d4-7045ff1b6289",
      "name": "Responder Datos Incompletos Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Groq",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Transcribir",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Analizar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Extraer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "e2a1cbf7-b808-4955-9f74-7565eeffb1a3",
      "name": "Verificar si es Groq",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2640,
        2336
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transcribir Audio con Groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unificar Contenido",
            "type": "main",
            "index": 1
          },
          {
            "node": "Analizar Imagen con Groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpiar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Feature Flags": {
      "main": [
        [
          {
            "node": "Consultar Delivery Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Delivery Settings": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "Verificar Riesgo Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta Verificar Productos": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Riesgo Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Nivel Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Nivel Riesgo": {
      "main": [
        [
          {
            "node": "Preparar Pedido Verde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Verde": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Método Pago": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pago Tarjeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pago Tarjeta": {
      "main": [
        [
          {
            "node": "Generar Link Pago (Stripe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Link Pago (Stripe)": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Validar Datos Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido en Supabase": {
      "main": [
        [
          {
            "node": "Identificar Canal Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Respuesta": {
      "main": [
        [
          {
            "node": "Responder a Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Web": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger - OpenAI Failures": {
      "main": [
        [
          {
            "node": "Verificar si es Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta Telegram": {
      "main": [
        [
          {
            "node": "Enviar Alerta Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Error en DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Respuesta Error Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Error Cliente": {
      "main": [
        [
          {
            "node": "Identificar Canal Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Error": {
      "main": [
        [
          {
            "node": "Enviar Error WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Blindar Metadata": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Texto": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Marcar como Pagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Vision Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar Imagen con Groq",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagen con Groq": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio con Groq": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si es Groq": {
      "main": [
        [
          {
            "node": "Preparar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos Pedido": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Datos Incompletos": {
      "main": [
        [
          {
            "node": "Identificar Canal Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Datos Incompletos": {
      "main": [
        [
          {
            "node": "Responder Datos Incompletos WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0af7bdb4-c392-4f9a-9ee4-282975766892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b924d8fc10a2eb5478466ee817417b4c593cfbba64921c784a4bd5d50d06a48d"
  },
  "id": "6goSuOdaxVhgMyhy",
  "tags": []
}