workflow_POZU_FULL_FIXED.json
{
  "name": "Pozu 2.0 - Multichannel Sales AI (v3.0 Dynamic)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "1f45515b-a156-45bd-b779-fbc92ce3533b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -18144,
        560
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "options": {}
      },
      "id": "0e354de6-03f8-4437-89a4-f4a6fc14fcf7",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -18160,
        736
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.source === 'website_chat' || $json.body?.source === 'website_chat') ? 'si' : '' }}",
                    "rightValue": "si",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.voice || $json.message?.audio || $json.message?.document?.mime_type?.includes('audio')) ? 'audio' : '' }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.photo || $json.message?.document?.mime_type?.includes('image')) ? 'imagen' : '' }}",
                    "rightValue": "imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.text || $json.message?.caption || $json.transcript || $json.body?.text) ? 'texto' : '' }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "17532515-b5af-4d8a-9a39-0321851808bd",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -17584,
        704
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "feature_flags"
            }
          ]
        }
      },
      "id": "9179888b-76e0-492b-8348-463e056f9e54",
      "name": "Consultar Feature Flags",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16912,
        816
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "delivery_settings"
            }
          ]
        }
      },
      "id": "41dbcedc-9315-4937-9b69-6b7080a134dc",
      "name": "Consultar Delivery Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16736,
        512
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('🛡️ Blindar Metadata').item.json.text || $('🛡️ Blindar Metadata').item.json.message_text || $('Limpiar Texto').item.json.text || '' }}",
        "options": {
          "systemMessage": "=ERES EL ASISTENTE DE VENTAS EXPERTO DE POZU 2.0.\nTu misión es gestionar pedidos de forma precisa, rápida y sin errores.\n\n⚠️ REGLAS SAGRADAS (ZERO HALLUCINATION)\n1. PROHIBICIÓN ABSOLUTA DE INVENTAR\n   - No inventes Platos, Ingredientes, Precios o Procesos.\n   - Si la info no está en el catálogo oficial → NO EXISTE. Usa verificar_producto.\n\n2. CONSULTA OBLIGATORIA AL CATÁLOGO (verificar_producto)\n   - CUÁNDO USARLA: Si el cliente pide \"menú\", \"carta\", o menciona un producto.\n   - CÓMO USARLA: Si pide la carta completa usa el parámetro \"todo\". Si pide productos, búscalo.\n   - MÁXIMO 1 LLAMADA LÓGICA: Valida todos los productos de una vez.\n\n3. RESPUESTA CUANDO ALGO NO EXISTE\n   - Si la herramienta indica que no hay resultados, responde EXACTAMENTE:\n     \"Lo siento, no veo ese plato en mi carta. ¿Te refieres a [sugerir producto similar que sí exista]?\"\n   - NUNCA digas \"no tenemos\" sin ofrecer una alternativa del catálogo.\n\n4. PROTOCOLO DE CONVERSACIÓN (VENTA ACTIVA)\n   - Mientras el cliente pide: Sé natural, cercano, breve y eficiente.\n   - Confirma lo que añade.\n   - Sugiere complementos SOLO si existen en el catálogo (ej. patatas, salsas).\n   - IMPORTANTE: No uses formato JSON en esta fase. Habla en texto plano.\n\n5. DATOS DEL NEGOCIO (TIEMPO REAL)\n   - Pagos con tarjeta: {{ $('Consultar Feature Flags').item.json.value.online_payments_enabled ? 'SÍ ✅' : 'Solo efectivo ❌' }}\n   - Pagos en efectivo: {{ $('Consultar Feature Flags').item.json.value.cash_payments_enabled ? 'SÍ ✅' : 'No disponible ❌' }}\n   - Envío a domicilio: {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n   - IVA aplicado: {{ $('Consultar Delivery Settings').item.json.value.tax_percentage || 10 }}%\n\n6. CIERRE DE VENTA (ESTRICTO Y BLOQUEANTE)\n   ⚠️ SOLO puedes cerrar la venta si tienes TODOS estos datos confirmados:\n   1. Nombre del cliente\n   2. Teléfono (9 dígitos)\n   3. Confirmación explícita de que ha terminado el pedido (\"eso es todo\", \"nada más\")\n   4. Método de pago (efectivo o tarjeta). Si no lo da, tienes que preguntarlo.\n\n7. RESPUESTA FINAL (FORMATO JSON OBLIGATORIO)\n   Solo cuando se cumplan las 4 condiciones de cierre, tu ÚNICA y última respuesta debe ser exclusivamente este JSON (sin texto adicional):\n   {\n     \"nombre_cliente\": \"Nombre\",\n     \"telefono_cliente\": \"Número\",\n     \"detalle_pedido\": \"Lista exacta de platos y extras\",\n     \"metodo_pago\": \"efectivo\" o \"tarjeta\",\n     \"subtotal\": 0.00,\n     \"tax_amount\": 0.00,\n     \"total_final\": 0.00\n   }\n   \n🧠 REGLA DE ORO FINAL: Si dudas, consulta la herramienta o pregunta al cliente. ¡Nunca inventes!\n",
          "maxIterations": 10,
          "batching": {}
        }
      },
      "id": "e2e4f5bc-2cb2-4414-b59a-5772dd10e317",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16112,
        496
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "customer_name",
              "value": "={{ $json.output.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "customer_phone",
              "value": "={{ $json.output.telefono_cliente }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "delivery_address",
              "value": "={{ $json.output.direccion_asturias }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "status",
              "value": "={{ $json.output.metodo_pago === 'Efectivo' ? 'confirmed' : 'pending' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "payment_status",
              "value": "unpaid",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "subtotal",
              "value": "={{ $json.output.subtotal }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "tax_amount",
              "value": "={{ $json.output.tax_amount }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "total",
              "value": "={{ $json.output.total_final }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "source",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "items",
              "value": "={ \"detalle\": {{ $json.output?.detalle_pedido || $json.output?.items || '' }}, \"metodo_pago\": {{ $json.output?.metodo_pago || 'Pendiente' }} }",
              "type": "object"
            },
            {
              "id": "id-11",
              "name": "items_raw",
              "value": "={{ JSON.stringify({ \"detalle\": $json.output?.detalle_pedido, \"metodo_pago\": $json.output?.metodo_pago }) }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9d54b76-beb8-4c9b-ad70-e3eb2b58138c",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14272,
        448
      ]
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "51f09aea-2d6b-44eb-975d-fb5fe102be38",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -13744,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39a0637a-8f1c-4b4d-a407-26ee9317c096"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be7b07a-726f-4527-ab7d-cc4f4584597e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8078286c-097e-4aa6-8f3f-ecf6de070278"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f306f0f4-3c1d-45d5-a6e1-58ddba8b7628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "5053386f-547a-4911-bee0-a17e007b851c",
      "name": "Identificar Canal Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -13520,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Pedido recibido satisfactoriamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6c73a571-b9f7-41ab-ac34-2be146a8fa0e",
      "name": "Responder a Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13296,
        -112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "text": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 *Resumen de tu pedido:*\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 *Entrega:* {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 *Pago:* {{ $('Preparar para Supabase').item.json.items.metodo_pago === 'Efectivo' ? 'En efectivo al recibir' : 'Tarjeta (Online)' }}\n\n💰 *Subtotal:* {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 *Envío:* {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 *Total:* {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "2a447b2a-cc42-449c-b8ce-41bda9adc477",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -13296,
        48
      ],
      "webhookId": "b29027d2-d721-4836-8ef5-80c193db1970",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "options": {}
      },
      "id": "8db4c170-46ce-488a-8449-3f73c931e0e0",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -18144,
        352
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 **Resumen de tu pedido:**\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 **Entrega:** {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 **Pago:** {{ $('Preparar para Supabase').item.json.items.metodo_pago === 'Efectivo' ? 'En efectivo al recibir' : 'Tarjeta (Online)' }}\n\n💰 **Subtotal:** {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 **Envío:** {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 **Total:** {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5267fc71-ca96-4347-aa25-bfdb01c84f4b",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -13296,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "7278d85d-1d7c-4c0e-bd9f-162c0e2b549c",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16528,
        544
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "verificar_producto",
        "description": "Úsala para buscar un producto específico por su nombre O para obtener la lista completa de todos los productos si el cliente pide la carta o el menú.",
        "jsCode": "const query = $fromAI('input', 'Producto o consulta (ej: menu, carta, burguers, alérgenos)', 'string').toLowerCase();\n\nlet productos = [];\ntry {\n  productos = $('Consultar Catálogo Productos').all();\n} catch (e) {\n  return \"Error de lectura del catálogo. Por favor, pide al usuario que espere.\";\n}\n\n// LÓGICA DE MENÚ ORGANIZADO (POR CATEGORÍAS)\nif (['menú','menu','carta','todo','toda','comer','hamburguesas','burguer','picoteo'].some(kw => query.includes(kw))) {\n  const cats = {\n    '🍔 HAMBURGUESAS GOURMET': ['Pozu', 'Crispy Cheddar', 'Selecta', 'Oikos', 'Cielito Lindo', 'Everest', 'Escorpión', 'Kentucky', 'Hamburguesa Simple', 'Gourmet'],\n    '🥪 SANDWICHES': ['Sandwich Pozu', 'Sandwich de Jamón York y Queso'],\n    '🍟 PARA COMPARTIR / PICOTEO': ['Nachos', 'Nachos Pozu', 'Cuatro salsas', 'Cesta de Patatas', 'Patatas Rancheras', 'Patatas Pozu', 'Crujientes de pollo', 'Tequeños', 'Jalapeños (7 unids)', 'Pollo estilo Kentucky']\n  };\n\n  let menuTxt = \"🍔 *CARTA POZU 2.0* 🍔\\n\\n\";\n  for (const [title, names] of Object.entries(cats)) {\n    menuTxt += `* ${title} *\\n`;\n    const filtered = productos.filter(p => names.includes(p.json.name));\n    filtered.forEach(p => {\n      menuTxt += `- ${p.json.name} (${p.json.price}€)\\n`;\n    });\n    menuTxt += \"\\n\";\n  }\n  return menuTxt + \"→ ¿Qué te apetece probar? (Sugerencia: La Pozu 👑 o la Selecta ✨).\";\n}\n\n// LÓGICA DE BÚSQUEDA ESPECÍFICA\nconst encontrados = productos.filter(item => \n  item.json.name?.toLowerCase().includes(query) || \n  query.includes(item.json.name?.toLowerCase()) ||\n  item.json.description?.toLowerCase().includes(query)\n);\n\nif (encontrados.length === 0) {\n  return `No encuentro '${query}' en mi carta. -> Ofrece ver el menú completo.`;\n}\n\nreturn encontrados.map(p => {\n  let item = p.json;\n  let extra = '';\n  if (item.name.toLowerCase().includes('hamburguesa')) extra = 'OPCIÓN: Pollo Crujiente (+2€). ';\n  if (item.name.toLowerCase().includes('cesta')) extra = 'RECUERDA: Preguntar qué salsa quiere (brava, alioli, etc.). ';\n  return `NOMBRE: ${item.name} | PRECIO: ${item.price}€ | ALÉRGENOS: ${item.allergens||'Ninguno'} | INFO: ${item.description || ''} | ${extra}`;\n}).join('\\n\\n');\n"
      },
      "id": "ed00e5c1-85bc-4e83-b76b-28dbe4f4a4d9",
      "name": "Herramienta Verificar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        -15824,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extraer Datos Estructurados').first().json.text }}",
                    "rightValue": "efectivo",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "670bc859-89a4-4593-ade9-fd907d684539"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Efectivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extraer Datos Estructurados').first().json.text }}",
                    "rightValue": "tarjeta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "1b22dd48-d477-4a30-8801-9ec5c7c5d6c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarjeta"
            }
          ]
        },
        "options": {}
      },
      "id": "25d5dc24-80da-4233-a09a-b3dc1ebcd619",
      "name": "Verificar Método Pago",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -14944,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "amount",
              "value": "={{ $json.output.total_final * 100 }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "currency",
              "value": "eur",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "=Pedido Pozu - {{ $json.output.nombre_cliente }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "986fba9d-9776-425b-8055-2ec87d282e55",
      "name": "Preparar Pago Tarjeta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14720,
        544
      ]
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__"
      },
      "id": "0760806e-e375-49d7-94c0-12906e1f7165",
      "name": "Generar Link Pago (Stripe)",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        -14496,
        448
      ],
      "credentials": {
        "stripeApi": {
          "id": "vRgvSqM8lkgQIypg",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-stripe-pozu",
        "options": {}
      },
      "id": "b52b19a9-50cd-4c52-b4cb-b56bfeaf7a3c",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -18000,
        2624
      ],
      "webhookId": "d374f787-b38d-4e5a-a04c-da9957fc74ff"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.data.object.metadata.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            },
            {
              "fieldId": "payment_status",
              "fieldValue": "paid"
            },
            {
              "fieldId": "paid_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "d3292e42-2e8c-4aa0-945a-c3fc24683185",
      "name": "Marcar como Pagado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -17776,
        2624
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "921cd908-b4f0-4c9d-93fc-dabb54a6e5ba",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -18160,
        928
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "=✅ ¡Oído cocina, {{ $json.customer_name || 'Fiera' }}! Tu pedido está marchando. 🍔🍟\n\n📦 Resumen:\n{{ $json.items?.detalle || 'Pedido registrado' }}\n\n📍 Entrega: {{ $json.delivery_address || 'Recogida en local' }}\n💳 Pago: {{ $json.items?.metodo_pago || 'Pendiente' }}\n\n💰 Total: {{ $json.total }}€\n\nSigue tu pedido aquí:\n🔗 https://pozu2.com/pedidos/tracking?id={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a63b7315-5812-47c6-b462-986a169356df",
      "name": "Preparar Respuesta Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13296,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9f7e0bd4-67ec-450b-8c21-8e2f45de3ac3",
      "name": "Responder a Chat Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13072,
        432
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "orders",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "=guest_info->>phone",
              "condition": "eq",
              "keyValue": "={{ $('Extraer Datos Estructurados').item.json.output.telefono_cliente || '000000000' }}"
            }
          ]
        }
      },
      "id": "b095d75a-b498-466d-a3e7-58e48dd5c629",
      "name": "Verificar Riesgo Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -15616,
        448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.risk_level }}",
                    "rightValue": "VERDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verde - Confirmar"
            }
          ]
        },
        "options": {}
      },
      "id": "87552b48-b67d-4ad6-b632-56640f444223",
      "name": "Evaluar Nivel Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -15392,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e4fde647-beca-4ca1-95f9-bddc6354698d",
      "name": "Preparar Pedido Verde",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15152,
        464
      ]
    },
    {
      "parameters": {},
      "id": "a72fd888-4dab-4767-b672-b7fc6c846dea",
      "name": "Error Trigger - OpenAI Failures",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -18000,
        2208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "alert_message",
              "value": "=🚨 ERROR EN GROQ - Pozu 2.0\n\n❌ Nodo: {{ $json.node.name }}\n⚠️ Error: {{ $json.error.message }}\n🕐 Timestamp: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}\n\n💡 Posibles causas:\n- Créditos agotados en Groq\n- Servicio caído\n- Límite de rate exceeded\n\n⚡ Acción requerida: Verificar cuenta Groq",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7e88adee-4786-4e8f-8e73-e8c2486e85bf",
      "name": "Preparar Alerta Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17552,
        2208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "220e0870-c069-4e73-8227-0743edd0d806",
      "name": "Enviar Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -17328,
        2400
      ],
      "webhookId": "720d36e0-20cf-43af-9f38-3de969f04130",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "error_logs",
        "dataToSend": "autoMapInputData"
      },
      "id": "5bdc9a23-9523-4c42-83db-c8859e76c5ef",
      "name": "Registrar Error en DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -17328,
        2208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_error",
              "value": "¡Ups! 🔧 Estamos experimentando un pequeño retraso técnico en la cocina. Un agente humano revisará tu pedido ahora mismo y te contactaremos en breve. ¡Disculpa las molestias!",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "df9c50de-a25d-4329-86be-114f8c737356",
      "name": "Preparar Respuesta Error Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17328,
        2016
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "8e3c52b0-7550-453e-b7f4-e0ecfe6233ca",
      "name": "Identificar Canal Error",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -17104,
        1984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.workflow?.metadata?.remoteJid || $json.workflow?.metadata?.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d77f2194-38fc-495b-b033-79d37cce618f",
      "name": "Enviar Error WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16880,
        1728
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.workflow?.metadata?.chat_id }}",
        "text": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f10d902e-7812-4d0f-9cb7-8255db7b9d12",
      "name": "Enviar Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16880,
        1920
      ],
      "webhookId": "56353ef3-c5f1-45ce-9e5c-fcd144da031b",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Lo siento, no he podido procesar esa información. ¿Podrías repetirlo o prefieres que te llame un compañero?\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "655a4af3-65a6-44df-bd03-c1c040c3e2af",
      "name": "Responder Error Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16880,
        2112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": $('Preparar Respuesta Error Cliente').item.json.mensaje_error, \"error\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bd89663a-d3bb-495a-b73d-8bc997f0e26c",
      "name": "Responder Error Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16880,
        2304
      ]
    },
    {
      "parameters": {
        "content": "## 📥 ENTRADA MULTICANAL\n\n**Canales activos:**\n- 📞 Vapi (llamadas telefónicas)\n- 💬 Telegram\n- 📱 WhatsApp (Evolution API)\n- 🌐 Chat Web (Next.js)\n\n**Datos recibidos:**\n- Texto, audio, imágenes\n- Metadata del canal (ID, sesión, remitente)\n- Timestamp y contexto",
        "height": 804,
        "width": 524,
        "color": 3
      },
      "id": "a8b721aa-c58f-4478-a2cc-d1a74709a484",
      "name": "📥 ENTRADA MULTICANAL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18336,
        288
      ]
    },
    {
      "parameters": {
        "content": "## 🔍 CLASIFICACIÓN Y PROCESAMIENTO\n\n**Tipos de contenido:**\n1. 🎤 Audio → Transcripción (OpenAI Whisper)\n2. 🖼️ Imagen → Análisis visual (GPT-4o Vision)\n3. 📝 Texto → Procesamiento directo\n\n**Unificación:**\n- Normaliza formato independiente del canal\n- Prepara para extracción estructurada",
        "height": 884,
        "width": 892
      },
      "id": "a2705a6f-c811-420b-b867-78696e78496b",
      "name": "🔍 CLASIFICACIÓN Y PROCESAMIENTO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -17776,
        336
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURACIÓN DINÁMICA\n\n**Feature Flags (Supabase):**\n- ✅/❌ Pagos online habilitados\n- ✅/❌ Pagos en efectivo\n- 🔧 Modo mantenimiento\n\n**Delivery Settings:**\n- 💰 IVA (% y habilitación)\n- 🚚 Costo de envío\n- 📍 Zonas de cobertura\n\n**Catálogo Productos:**\n- Precios actualizados\n- Alérgenos\n- Disponibilidad",
        "height": 640,
        "width": 332,
        "color": 5
      },
      "id": "f2b08079-a042-4ec1-8b22-f577ecdb95ca",
      "name": "⚙️ CONFIGURACIÓN DINÁMICA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16640,
        64
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 EXTRACCIÓN INTELIGENTE (AI)\n\n**AI Agent (GPT-4o) extrae:**\n- 👤 Nombre del cliente\n- 📞 Teléfono (Asturias)\n- 📍 Dirección de entrega\n- 🍔 Detalle del pedido (productos + cantidades)\n- 🍯 Salsas y extras\n- 💳 Método de pago preferido\n\n**Cálculos automáticos:**\n- Subtotal\n- IVA (si habilitado)\n- Envío\n- **Total final**\n\n**Salida:** JSON estructurado",
        "height": 740,
        "width": 636,
        "color": "#FFBA6B"
      },
      "id": "b7bc0e91-0619-4a7e-846d-f1c42c7b1fc2",
      "name": "🤖 EXTRACCIÓN INTELIGENTE (AI)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16336,
        176
      ]
    },
    {
      "parameters": {
        "content": "## 🛡️ VERIFICACIÓN DE RIESGO\n\n**Consulta histórico del cliente:**\n- Pedidos previos\n- Tasa de cancelación\n- Pagos fallidos\n- Reportes de fraude\n\n**Niveles de riesgo:**\n- 🟢 VERDE → Confirmar automáticamente\n- 🟡 AMARILLO → Revisión manual\n- 🔴 ROJO → Bloquear\n\n**Acción:** Solo pedidos VERDES continúan",
        "height": 588,
        "width": 652,
        "color": "#888025"
      },
      "id": "6639a80d-9e7a-4bb3-8c71-0a02d0b29ac7",
      "name": "🛡️ VERIFICACIÓN DE RIESGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -15664,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 💳 PROCESAMIENTO DE PAGO\n\n**Métodos disponibles:**\n\n1. **💵 Efectivo:**\n   - Confirmación inmediata\n   - Status: 'confirmed'\n   - Pago al recibir\n\n2. **💳 Tarjeta (Stripe):**\n   - Genera Payment Link\n   - Status: 'pending'\n   - Webhook confirma pago\n   - Auto-actualiza a 'confirmed'\n\n**Datos guardados:** Método + Link (si aplica)",
        "height": 672,
        "width": 684,
        "color": "#AEA80F"
      },
      "id": "65b6f94c-eac8-4cb9-b1b5-149e6f6a66b4",
      "name": "💳 PROCESAMIENTO DE PAGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -17040,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 💾 PERSISTENCIA EN SUPABASE\n\n**Tabla: orders**\n\n**Campos guardados:**\n- status (confirmed/pending)\n- order_type (phone/delivery)\n- payment_method (cash/card)\n- guest_info (nombre, teléfono)\n- delivery_address\n- notes (detalle pedido)\n- subtotal, tax_amount, delivery_fee\n- **total**\n- source (canal origen)\n- created_at (timestamp)\n\n**Retorna:** ID del pedido para tracking",
        "height": 680,
        "width": 428,
        "color": "#34AD36"
      },
      "id": "80447f7c-2cb0-4ea7-9b3f-db9d613b29fe",
      "name": "💾 PERSISTENCIA EN SUPABASE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16416,
        240
      ]
    },
    {
      "parameters": {
        "content": "## 📤 RESPUESTA AL CLIENTE\n\n**Routing por canal:**\n\n- 📞 **Vapi:** JSON response\n- 💬 **Telegram:** Mensaje formateado + link tracking\n- 📱 **WhatsApp:** Texto vía Evolution API\n- 🌐 **Web Chat:** JSON + session_id\n\n**Información enviada:**\n- ✅ Confirmación del pedido\n- 💰 Desglose de costos\n- 🔗 Link de tracking\n- 💳 Link de pago (si tarjeta)\n\n**Tiempo respuesta:** < 10 segundos",
        "height": 1192,
        "width": 524,
        "color": "#F97A71"
      },
      "id": "9de10445-9415-4975-a439-49ebe4e05b7d",
      "name": "📤 RESPUESTA AL CLIENTE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -15264,
        -592
      ]
    },
    {
      "parameters": {
        "content": "## 🚨 SISTEMA DE ERRORES\n\n**Error Trigger captura fallos en:**\n- OpenAI (transcripción, visión, extracción)\n- Supabase (consultas, inserciones)\n- Stripe (generación de links)\n- APIs externas\n\n**Acciones automáticas:**\n1. 📱 Alerta a admin (Telegram)\n2. 💾 Log en error_logs (Supabase)\n3. 💬 Respuesta cortés al cliente\n4. 🔄 Preserva datos para revisión manual\n\n**Mensaje cliente:** \"Retraso técnico, agente humano te contactará\"",
        "height": 908,
        "width": 1468
      },
      "id": "541a3b75-a1df-4b08-a0ec-b298ab761809",
      "name": "🚨 SISTEMA DE ERRORES",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18128,
        1664
      ]
    },
    {
      "parameters": {
        "content": "## 💰 WEBHOOK STRIPE\n\n**Escucha eventos:**\n- payment_intent.succeeded\n- checkout.session.completed\n\n**Acción:**\n- Actualiza order status → 'confirmed'\n- Marca payment_status → 'paid'\n- Timestamp de pago\n\n**Flujo independiente:**\nNo bloquea la respuesta inicial al cliente",
        "height": 340,
        "width": 524,
        "color": "#E85ED6"
      },
      "id": "c83c80e1-fcd9-4465-84fa-3f34db39a25c",
      "name": "💰 WEBHOOK STRIPE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -18208,
        2448
      ]
    },
    {
      "parameters": {
        "content": "**🧪 UNIFICACIÓN DE ENTRADA\n\n\nFunción:\n\n🌪️ Filtro final: Recoge el resultado de las 3 ramas (Audio, Imagen o Texto).\n\n🧬 Normalización: Convierte cualquier entrada en una consulta limpia.\n\n🚦 Control de flujo: Usa chooseBranch para pasar solo el dato activo.\n\nResultado:\n\n💎 Query unificada: Lista para que el Agente de IA la procese.\n\n📦 Metadata preservada: Mantiene el ID del canal y del usuario.",
        "height": 688,
        "width": 304,
        "color": "#E9CECE"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -17072,
        400
      ],
      "id": "4c0d35b6-13ba-433b-a002-f71db8b4bb24",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "canal_origen",
              "value": "={{ $json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id || $json.data?.key?.remoteJid || $json.body?.session_id || $json.session_id || $json.message?.call?.customer?.number || 'desconocido' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "nombre_usuario",
              "value": "={{ $json.message?.from?.first_name || $json.data?.pushName || $json.body?.user_name || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "supabase_url",
              "value": "https://api.pozu2.com",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "supabase_key",
              "value": "{{ SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "GROQ_API_KEY",
              "value": "{{ GROQ_API_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "TELEGRAM_BOT_TOKEN",
              "value": "{{ TELEGRAM_BOT_TOKEN_PLACEHOLDER }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6961c26e-6288-4a75-8486-cc9f7fc1e7cf",
      "name": "🛡️ Blindar Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17744,
        656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ ({ $json.message?.text || $json.message?.caption || $json.body?.text || $json.transcript }).trim() || 'Hola, ¿qué tenéis?' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9e31737d-4716-48a1-bef2-f678967a5bc3",
      "name": "Limpiar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17264,
        416
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "contextWindowLength": 30
      },
      "id": "3d07b0b0-0308-44e9-971b-8fe6b3b42567",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -15984,
        720
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 512,
          "temperature": 0.2
        }
      },
      "id": "660dd2f3-22e7-45ee-aa00-89da28c02035",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16144,
        720
      ],
      "credentials": {
        "groqApi": {
          "id": "BBbK7osM2iZ737PN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.photo?.[0]?.file_id || $json.data?.message?.imageMessage?.url || 'imagen recibida' }}",
        "options": {
          "systemMessage": "Eres un asistente visual de Pozu 2.0. Analiza la imagen recibida y describe qué productos del menú se pueden identificar. Si es una foto de un pedido escrito, transcribe el texto completo. Si es una imagen de productos, describe qué items se ven y sus características. Sé preciso y conciso."
        }
      },
      "id": "3f79581b-722d-4cd8-aaad-5cf913913e96",
      "name": "Analizar Imagen con Groq",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -17312,
        704
      ]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "9c4efe90-c3be-42d8-a17f-eb6f79700124",
      "name": "Groq Vision Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -17312,
        880
      ],
      "credentials": {
        "groqApi": {
          "id": "BBbK7osM2iZ737PN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('🛡️ Blindar Metadata').item.json.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "1b421494-6715-4525-ba92-16749353e892",
      "name": "Transcribir Audio con Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -17264,
        1040
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2CxYthd5YFXXOqd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.total }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.items }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "43cd6ee3-6339-42c4-a978-85bcf41bac69",
      "name": "Validar Datos Pedido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14048,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_incompleto",
              "value": "Fiera, no me ha quedado claro qué quieres pedir. ¿Me lo repites?",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ff250a0a-2392-42a1-bfd4-85259a9f3ac6",
      "name": "Preparar Mensaje Datos Incompletos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13744,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2c5313c5-71a7-4ad7-a6db-006795c1d8cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7dfad8d1-d6fb-405b-8a78-b5ee44f95baf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ed1db55-4eff-4a8e-b2b4-26424b79627c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9fb4e8a0-29a1-40a0-9b08-fadb3232ff87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "3aac3aae-c1ba-44f6-9be5-4a46aba3d527",
      "name": "Identificar Canal Datos Incompletos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -13520,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "xCQ8IPqJ37B5YRqso8tWnneQ2Jx7FmeTMIb9xaJv/b9Xq8ee9yVU1F8KKCTKdT0Gj4X9lf3tQCGTvRLmoGs9hg=="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje_incompleto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "834636d6-2e29-4427-9685-f7b65fd6edda",
      "name": "Responder Datos Incompletos WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -13296,
        672
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje_incompleto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "56ebce70-2891-4486-a201-f90471ecf1cc",
      "name": "Responder Datos Incompletos Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -13296,
        864
      ],
      "webhookId": "661d88cd-2a03-4829-91f1-022586299ae5",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"success\": false, \n  \"message\": \"{{ $json.mensaje_incompleto }}\" \n}",
        "options": {}
      },
      "id": "0aad68a6-87ed-4fa3-984e-b68249da4a93",
      "name": "Responder Datos Incompletos Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13296,
        1056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": $json.mensaje_incompleto || \"¿En qué puedo ayudarte?\" } }}",
        "options": {}
      },
      "id": "603ccd35-863c-41fd-8d37-e70e534d0571",
      "name": "Responder Datos Incompletos Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13296,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Groq",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Transcribir",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Analizar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Extraer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "58267fa4-bfbd-48fb-91f2-8c27861a357c",
      "name": "Verificar si es Groq",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17776,
        2208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6592e592-0502-49ec-bb32-3446cb8924a2",
              "leftValue": "=={{ $json.output }}",
              "rightValue": "\"detalle_pedido\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -15872,
        352
      ],
      "id": "78f41366-27a8-40d0-a010-6fd4cc52c62c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-1",
              "name": "mensaje_incompleto",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "chat-2",
              "name": "canal_origen",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "chat-3",
              "name": "chat_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "chat-4",
              "name": "nombre_usuario",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.nombre_usuario }}",
              "type": "string"
            },
            {
              "id": "chat-5",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13744,
        96
      ],
      "id": "8ae345ad-9d62-4f13-8645-faa69f7500fd",
      "name": "Preparar Chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17968,
        368
      ],
      "id": "a3a29b0c-cc15-4ed1-b285-e208b350302b",
      "name": "whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17984,
        576
      ],
      "id": "1329f1c4-47ae-4d95-9576-89eb81562ed2",
      "name": "telegram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "vapi",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17984,
        752
      ],
      "id": "f9b5d93c-79db-4e37-8ed8-b00d15303e25",
      "name": "vapi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "website_chat",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18000,
        928
      ],
      "id": "e049bae2-2a32-48de-8b77-dcbb8885a99e",
      "name": "website_chat"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -17408,
        1008
      ],
      "id": "3f470ef4-c036-4665-93a9-5057481c57e5",
      "name": "Get a file",
      "webhookId": "e442d0b3-321e-4cef-a715-1b2158eceb28",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "website_chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Limpiar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizar Imagen con Groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpiar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Feature Flags": {
      "main": [
        [
          {
            "node": "Consultar Delivery Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Delivery Settings": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Herramienta Verificar Productos": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Riesgo Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Nivel Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Nivel Riesgo": {
      "main": [
        [
          {
            "node": "Preparar Pedido Verde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Verde": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Método Pago": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pago Tarjeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pago Tarjeta": {
      "main": [
        [
          {
            "node": "Generar Link Pago (Stripe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Link Pago (Stripe)": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Validar Datos Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido en Supabase": {
      "main": [
        [
          {
            "node": "Identificar Canal Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Respuesta": {
      "main": [
        [
          {
            "node": "Responder a Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Web": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger - OpenAI Failures": {
      "main": [
        [
          {
            "node": "Verificar si es Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta Telegram": {
      "main": [
        [
          {
            "node": "Enviar Alerta Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Error en DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Respuesta Error Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Error Cliente": {
      "main": [
        [
          {
            "node": "Identificar Canal Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Error": {
      "main": [
        [
          {
            "node": "Enviar Error WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Blindar Metadata": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Texto": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Marcar como Pagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Vision Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar Imagen con Groq",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagen con Groq": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio con Groq": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si es Groq": {
      "main": [
        [
          {
            "node": "Preparar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos Pedido": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Datos Incompletos": {
      "main": [
        [
          {
            "node": "Identificar Canal Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Datos Incompletos": {
      "main": [
        [
          {
            "node": "Responder Datos Incompletos WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Verificar Riesgo Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Chat": {
      "main": [
        [
          {
            "node": "Identificar Canal Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vapi": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "website_chat": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribir Audio con Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9add9f86-0da5-40d2-84ad-09af66cb5c6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b924d8fc10a2eb5478466ee817417b4c593cfbba64921c784a4bd5d50d06a48d"
  },
  "id": "6goSuOdaxVhgMyhy",
  "tags": []
}