workflow_POZU_WITH_RESERVATIONS.json
{
  "name": "Pozu_FIXED_EXPRESSIONS",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "2c9dd1d3-064d-471b-9bcc-252ba2dc77e2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2592,
        -1968
      ],
      "webhookId": "eabdf013-3cea-4343-950e-221dafe541b2",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-transcription",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e19f8753-6dd6-45c1-b90c-e39edfc1204c",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        -1792
      ],
      "webhookId": "710e6f3f-276e-498a-a250-26bbc0fd59d2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.source === 'website_chat' || $json.body?.source === 'website_chat') ? 'si' : '' }}",
                    "rightValue": "si",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c2bc925-5bd8-4e89-8a8e-c75744a6068d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.voice || $json.message?.audio || $json.message?.document?.mime_type?.includes('audio')) ? 'audio' : '' }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53f9806a-c9fb-4076-aade-822a157313b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.photo || $json.message?.document?.mime_type?.includes('image')) ? 'imagen' : '' }}",
                    "rightValue": "imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "287a4506-710a-4e79-822e-ea218e7f8bd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.message?.text || $json.message?.caption || $json.transcript || $json.body?.text) ? 'texto' : '' }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e920b9df-cc9c-47d4-a4c8-3ac5977ed8ed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "afb6b328-a390-4361-945e-9b902772309a",
      "name": "Clasificar Tipo Contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2032,
        -1824
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "feature_flags"
            }
          ]
        }
      },
      "id": "b7a93f96-4c23-46b3-8ae5-b1a017dff42f",
      "name": "Consultar Feature Flags",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        -1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "delivery_settings"
            }
          ]
        }
      },
      "id": "fce6344d-c139-4dbb-88ab-4a1e45898fc4",
      "name": "Consultar Delivery Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1184,
        -2016
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n  ($('🛡️ Blindar Metadata').isExecuted ? ($('🛡️ Blindar Metadata').item.json.text || $('🛡️ Blindar Metadata').item.json.message_text) : \"\") || \n  ($('Limpiar Texto').isExecuted ? $('Limpiar Texto').item.json.text : \"\") || \n  ($('Transcribir Audio con OpenAI').isExecuted ? $('Transcribir Audio con OpenAI').item.json.text : \"\") || \n  \"Hola\"\n}}\n",
        "options": {
          "systemMessage": "ERES EL ASISTENTE DE VENTAS EXPERTO DE POZU 2.0.\n\n!!! MOSTRAR EL MENU (OBLIGATORIO):\n- Si el cliente pide ver la carta, el menu o las opciones disponibles, MUESTRASELOS SIEMPRE usando la herramienta verificar_producto con la palabra \"menu\".\n\n!!! REGLA DE PEDIDOS:\n- SOLO puedes vender platos que existan en el catalogo oficial.\n- Si el cliente usa un nombre PARCIAL o APODO (ej: \"oikos\", \"la de queso\", \"la especial\"), PRIMERO usa la herramienta verificar_producto para buscarlo. Si encuentras una coincidencia, CONFIRMALA con el cliente antes de anadirla al pedido.\n- Solo rechaza si el producto NO EXISTE en el catalogo tras buscarlo (ej: \"pizza\", \"kebab\", \"Pozu Presidencial\").\n\n!!! PROTOCOLO DE ENTREGA (OBLIGATORIO):\n- ANTES de cerrar la venta, PREGUNTA: \"Recogida en local o domicilio?\".\n- SI ES DOMICILIO: Pide la direccion COMPLETA (Calle, numero y ciudad).\n- Necesitas OBLIGATORIAMENTE: Nombre, Telefono, Tipo de Entrega, Direccion (si domicilio) y Metodo de Pago.\n- Si tienes todo EXCEPTO metodo de pago, PREGUNTA: \"Pagaras en efectivo o con tarjeta?\".\n\n!!! REGLAS SECUNDARIAS:\n1. Solo hablas de Pozu 2.0. Si preguntan de cultura general, politica o IA, rechaza educadamente.\n2. Pagos: {{ $('Consultar Feature Flags').item.json.value.online_payments_enabled ? 'Tarjeta/Efectivo' : 'Solo Efectivo' }}.\n\n!!! CIERRE DE VENTA Y JSON (VITAL):\nSolo cuando el cliente haya CONFIRMADO el pedido completo y no quiera nada mas, despidete amablemente y genera OBLIGATORIAMENTE este bloque EXACTO. NUNCA lo generes si aun tienes preguntas pendientes:\n\n{\n  \"detalle_pedido\": \"...\",\n  \"Nombre\": \"...\",\n  \"Telefono\": \"...\",\n  \"Tipo de entrega\": \"...\",\n  \"Metodo de pago\": \"...\",\n  \"Direccion\": \"...\",\n  \"total\": 0.00\n}\n\n\n!!! SI EL CLIENTE DICE QUE NO LE LLEGO EL LINK DE PAGO:\n- Responde: \"Entendido, vamos a reintentarlo. Confirma que tu pedido era el siguiente:\"\n- Muestra el resumen del pedido que tienes en la conversacion (nombre, productos, direccion, metodo de pago).\n- Pregunta: \"Es correcto? Si es asi, te reenvio el pedido ahora mismo.\"\n- Si el cliente confirma con \"si\" o \"correcto\", genera de nuevo el bloque JSON exacto del pedido como si fuera la primera vez.\n- Si el cliente quiere cambiar algo, acepta la modificacion y vuelve a preguntar confirmacion antes de generar el JSON.\n\n\n// =============================================\n// POZU 2.0 — TEXTO A AÑADIR AL SYSTEM PROMPT\n// Pégalo AL FINAL del systemMessage del agente\n// \"Extraer Datos Estructurados\"\n// =============================================\n\n🗓️ RESERVAS DE MESA:\n\nSi el cliente quiere reservar una mesa, SIGUE ESTE PROTOCOLO:\n\nPASO 1 — Recoge estos datos (uno a uno si hace falta):\n- Fecha deseada (pídela en formato dd/mm/yyyy)\n- Hora deseada\n- Número de personas\n- Nombre completo\n- Teléfono de contacto\n- Peticiones especiales (opcional)\n\nPASO 2 — SIEMPRE llama a consultar_disponibilidad con: fecha,hora,personas\n- Si hay disponibilidad → confirma con el cliente y ve al PASO 3\n- Si NO hay disponibilidad → ofrece las horas alternativas que devuelva la herramienta\n- NUNCA confirmes una reserva sin haber llamado a consultar_disponibilidad\n\nPASO 3 — Cuando el cliente confirme todos los datos, llama a crear_reserva con JSON:\n{\n  \"fecha\": \"yyyy-mm-dd\",\n  \"hora\": \"HH:MM\",\n  \"personas\": 4,\n  \"nombre\": \"Nombre del cliente\",\n  \"telefono\": \"666123456\",\n  \"table_id\": \"id_devuelto_por_consultar_disponibilidad\",\n  \"notas\": \"sin gluten, cumpleaños, etc.\"\n}\n\nPASO 4 — Tras confirmar la reserva, responde al cliente con este formato:\n\n✅ ¡Reserva confirmada, [Nombre]!\n\n📅 Fecha: [fecha en formato legible]\n🕐 Hora: [hora]\n👥 Personas: [n]\n\nTe esperamos en Pozu. Si necesitas cancelar o cambiar algo, escríbenos aquí mismo.\n\nREGLAS:\n- NUNCA inventes disponibilidad sin usar la herramienta\n- Si el día está cerrado, dilo claramente y sugiere días alternativos\n- Si el cliente solo quiere \"reservar para el fin de semana\" sin fecha exacta, \n  pregúntale qué día prefiere antes de consultar disponibilidad\n",
          "maxIterations": 10,
          "batching": {}
        }
      },
      "id": "f0cb3f44-0a26-4ac0-973c-04e6ed9a6180",
      "name": "Extraer Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -544,
        -2080
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-2",
              "name": "guest_info",
              "value": "={{ { \"full_name\": $('Extraer Datos Estructurados').item.json.output.Nombre, \"phone\": $('Extraer Datos Estructurados').item.json.output.Telefono } }}",
              "type": "object"
            },
            {
              "id": "id-3",
              "name": "delivery_address",
              "value": "={{ $('Extraer Datos Estructurados').item.json.output.Direccion }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "status",
              "value": "={{ ($('Extraer Datos Estructurados').item.json.output['Metodo de pago'] || '').includes('Efectivo') ? 'confirmed' : 'pending' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "payment_status",
              "value": "unpaid",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "subtotal",
              "value": "={{ (typeof $('Extraer Datos Estructurados').first().json.output === 'string' ? JSON.parse($('Extraer Datos Estructurados').first().json.output.match(/\\{[\\s\\S]*\\}/)[0]) : $('Extraer Datos Estructurados').first().json.output).subtotal }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "tax_amount",
              "value": "={{ (typeof $('Extraer Datos Estructurados').first().json.output === 'string' ? JSON.parse($('Extraer Datos Estructurados').first().json.output.match(/\\{[\\s\\S]*\\}/)[0]) : $('Extraer Datos Estructurados').first().json.output).tax_amount }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "=total",
              "value": "={{ $json.amount_total ? ($json.amount_total / 100) : 12 }}\n",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "source",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "items",
              "value": "={{ { \"detalle\": $('Extraer Datos Estructurados').item.json.output.detalle_pedido, \"metodo_pago\": $('Extraer Datos Estructurados').item.json.output['Metodo de pago'] } }}",
              "type": "object"
            },
            {
              "id": "id-12",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "e15c495e-533d-4a08-a0f7-884391307516",
              "name": "payment_link",
              "value": "={{ $json.url || \"\" }}",
              "type": "string"
            },
            {
              "id": "01de19c9-a64b-405b-9cb4-b9b42d0dd7e5",
              "name": "customer_name",
              "value": "=={{  (() => { const out = $('Extraer Datos Estructurados').first().json.output; const parsed = (typeof out === 'string') ? (() => { try { return JSON.parse(out.match(/\\\\{[\\\\s\\\\S]*\\\\}/)?.[0] || '{}'); } catch(e) { return {}; } })() : (out || {}); return parsed?.Nombre || parsed?.nombre || 'Cliente'; })() }} }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e8a77000-e2ca-4824-83d9-7224af9a589b",
      "name": "Preparar para Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -2080
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "orders",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "items_raw,customer_name,customer_phone,session_id,sourcet"
      },
      "id": "7e6cc023-cd74-462a-8815-5dfc82d8d02e",
      "name": "Insertar Pedido en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1808,
        -2624
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39a0637a-8f1c-4b4d-a407-26ee9317c096"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be7b07a-726f-4527-ab7d-cc4f4584597e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8078286c-097e-4aa6-8f3f-ecf6de070278"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f306f0f4-3c1d-45d5-a6e1-58ddba8b7628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Chat"
            }
          ]
        },
        "options": {}
      },
      "id": "7b75a289-82d1-4f81-97eb-72420acdc4a5",
      "name": "Identificar Canal Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2032,
        -2416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"messageResponse\": {\n    \"messages\": [\n      {\n        \"role\": \"assistant\",\n        \"content\": \"={{ $('Extraer Datos Estructurados').first().json.text || $('Chat Informal').item.json.output || $('Extraer Datos Estructurados').item.json.output?.detalle_pedido || 'Pedido registrado, gracias.' }}\"\n      }\n    ]\n  }\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a75722a1-d200-4183-92f3-39295fba5d46",
      "name": "Responder a Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2256,
        -2640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "text": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 *Resumen de tu pedido:*\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 *Entrega:* {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 Pago: {{ $json.items?.metodo_pago || 'Pendiente' }}\n{{ $json.payment_link ? '👉 PAGA AQUÍ: ' + $json.payment_link : '' }}\n\n\n💰 *Subtotal:* {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 *Envío:* {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 *Total:* {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "7d3e69eb-4505-4183-8590-8cedf3c00684",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        -2480
      ],
      "webhookId": "b29027d2-d721-4836-8ef5-80c193db1970",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d2b9bdf9-6e86-4b06-9f1e-49aa4d6a5831",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2592,
        -2176
      ],
      "webhookId": "752ebf5d-1773-4b51-9208-33074e91cc1b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VhrUXsFGORSO4DV2",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=✅ ¡Oído cocina, {{ $('Preparar para Supabase').item.json.customer_name }}! Tu pedido está marchando. 🍔🍟\n\n📦 **Resumen de tu pedido:**\n{{ $('Preparar para Supabase').item.json.items.detalle }}\n\n📍 **Entrega:** {{ $('Preparar para Supabase').item.json.delivery_address || 'Recogida en local' }}\n💳 Pago: {{ $json.items?.metodo_pago || 'Pendiente' }}\n{{ $json.payment_link ? '👉 PAGA AQUÍ: ' + $json.payment_link : '' }}\n\n\n💰 **Subtotal:** {{ $('Preparar para Supabase').item.json.subtotal }}€\n🛵 **Envío:** {{ $('Consultar Delivery Settings').item.json.value.delivery_fee }}€\n🧾 **Total:** {{ $('Preparar para Supabase').item.json.total }}€ (IVA incl.)\n\nSigue el estado de tu pedido en tiempo real aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $('Insertar Pedido en Supabase').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b006400-5c2b-402f-87b3-6f41e3da2165",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2256,
        -2288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extraer Datos Estructurados').item.json.output.toLowerCase() }}\n",
                    "rightValue": "efectivo",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "670bc859-89a4-4593-ade9-fd907d684539"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Efectivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extraer Datos Estructurados').item.json.output.toLowerCase() }}\n",
                    "rightValue": "tarjeta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "1b22dd48-d477-4a30-8801-9ec5c7c5d6c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tarjeta"
            }
          ]
        },
        "options": {}
      },
      "id": "5669e7a4-5ed1-4784-aec9-df13c65c6f04",
      "name": "Verificar Método Pago",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        -2080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "amount",
              "value": "={{ (() => { const s = String($('Extraer Datos Estructurados').item.json.output||''); const m=s.match(/\"total\"\\s*:\\s*([\\d.]+)/); return m?Math.round(parseFloat(m[1])*100):1200; })() }}\n\n",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "currency",
              "value": "eur",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "=Pedido Pozu 2.0\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2c5c6892-42ba-4499-b951-c4556f5068c4",
      "name": "Preparar Pago Tarjeta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -1984
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-stripe-pozu",
        "options": {}
      },
      "id": "07369a8d-8aa3-47e4-97e1-afde025b8acd",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2448,
        96
      ],
      "webhookId": "d374f787-b38d-4e5a-a04c-da9957fc74ff"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.data.object.metadata.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            },
            {
              "fieldId": "payment_status",
              "fieldValue": "paid"
            },
            {
              "fieldId": "paid_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "d843f2bc-1c3a-49c7-b391-350ee0be1b9b",
      "name": "Marcar como Pagado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2224,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "16af84e7-3603-4b4a-8e22-71672048b39c",
      "name": "Chat Web Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        -1600
      ],
      "webhookId": "8dc26acb-84c5-412e-ac1b-473975ed91cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "=✅ ¡Oído cocina, {{ $json.customer_name || 'Fiera' }}! Tu pedido está marchando. 🍔🍟\n\n📦 Resumen:\n{{ $json.items?.detalle || 'Pedido registrado' }}\n\n📍 Entrega: {{ $json.delivery_address || 'Recogida en local' }}\n💳 Pago: {{ $json.items?.metodo_pago || 'Pendiente' }}\n{{ $json.payment_link ? '👉 PAGA AQUÍ: ' + $json.payment_link : '' }}\n\n\n💰 Total: {{ $json.total }}€\n\nSigue tu pedido aquí:\n🔗 https://pozu.es/pedidos/tracking?id={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "session_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96025c21-1dc1-48a9-b788-227dcaeb105a",
      "name": "Preparar Respuesta Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        -2096
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3695a54a-ab6e-4258-8285-1bb75ce348a0",
      "name": "Responder a Chat Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2480,
        -2096
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "orders",
        "limit": 20,
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "condition": "eq",
              "keyValue": "=={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}"
            }
          ]
        }
      },
      "id": "043f725c-d750-4587-835f-5cad22433198",
      "name": "Verificar Riesgo Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        -2080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.risk_level === 'ROJO') ? 'bloquear' : 'continuar' }}",
                    "rightValue": "continuar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verde - Confirmar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "e387eb83-c990-41c6-bf8d-523e42c5be01",
      "name": "Evaluar Nivel Riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        -2080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5ea61fa5-0651-4f36-8b85-5780341f2c49",
      "name": "Preparar Pedido Verde",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -2064
      ]
    },
    {
      "parameters": {},
      "id": "27c216d2-cd08-45c4-8ba4-b9872cf8219a",
      "name": "Error Trigger - OpenAI Failures",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2448,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "alert_message",
              "value": "=🚨 ERROR EN GROQ - Pozu 2.0\n\n❌ Nodo: {{ $json.node.name }}\n⚠️ Error: {{ $json.error.message }}\n🕐 Timestamp: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}\n\n💡 Posibles causas:\n- Créditos agotados en Groq\n- Servicio caído\n- Límite de rate exceeded\n\n⚡ Acción requerida: Verificar cuenta Groq",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "=256941846",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e4c1be4-8bac-4b5a-b150-806f996451bc",
      "name": "Preparar Alerta Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        -320
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "05b59860-43ae-4517-9cef-d0fd93159c33",
      "name": "Enviar Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        -128
      ],
      "webhookId": "720d36e0-20cf-43af-9f38-3de969f04130",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "error_logs",
        "dataToSend": "autoMapInputData"
      },
      "id": "9fe487a2-20d5-400e-9ff9-9dff8cb31662",
      "name": "Registrar Error en DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1776,
        -320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_error",
              "value": "¡Ups! 🔧 Estamos experimentando un pequeño retraso técnico en la cocina. Un agente humano revisará tu pedido ahora mismo y te contactaremos en breve. ¡Disculpa las molestias!",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "canal",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "47db7a0a-48ec-40a0-84d6-962812bda2d8",
      "name": "Preparar Respuesta Error Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        -512
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "fb9c9440-5d42-4eba-9d0f-bfbb2867dce2",
      "name": "Identificar Canal Error",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1552,
        -544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.workflow?.metadata?.remoteJid || $json.workflow?.metadata?.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9ff47c9-322a-4f6b-9901-fb15e921dfe4",
      "name": "Enviar Error WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        -800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VhrUXsFGORSO4DV2",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.workflow?.metadata?.chat_id }}",
        "text": "={{ $('Preparar Respuesta Error Cliente').item.json.mensaje_error }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "cf8f573c-73f1-45a2-b8e4-7c7ca5905f2c",
      "name": "Enviar Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1328,
        -608
      ],
      "webhookId": "56353ef3-c5f1-45ce-9e5c-fcd144da031b",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Lo siento, no he podido procesar esa información. ¿Podrías repetirlo o prefieres que te llame un compañero?\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f8560957-e5af-47fa-9154-d7c25d3f29fe",
      "name": "Responder Error Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1328,
        -416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": $('Preparar Respuesta Error Cliente').item.json.mensaje_error, \"error\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d659e362-2f28-4648-92aa-9a3138d7d3f2",
      "name": "Responder Error Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1328,
        -224
      ]
    },
    {
      "parameters": {
        "content": "## 📥 ENTRADA MULTICANAL\n\n**Canales activos:**\n- 📞 Vapi (llamadas telefónicas)\n- 💬 Telegram\n- 📱 WhatsApp (Evolution API)\n- 🌐 Chat Web (Next.js)\n\n**Datos recibidos:**\n- Texto, audio, imágenes\n- Metadata del canal (ID, sesión, remitente)\n- Timestamp y contexto",
        "height": 804,
        "width": 524,
        "color": 3
      },
      "id": "78be9376-e438-45ac-a2c1-e4a75f83c222",
      "name": "📥 ENTRADA MULTICANAL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        -2240
      ]
    },
    {
      "parameters": {
        "content": "## 🔍 CLASIFICACIÓN Y PROCESAMIENTO\n\n**Tipos de contenido:**\n1. 🎤 Audio → Transcripción (OpenAI Whisper)\n2. 🖼️ Imagen → Análisis visual (GPT-4o Vision)\n3. 📝 Texto → Procesamiento directo\n\n**Unificación:**\n- Normaliza formato independiente del canal\n- Prepara para extracción estructurada",
        "height": 884,
        "width": 892
      },
      "id": "abfd72ad-f41a-4a4c-80a0-ef0fe64912c2",
      "name": "🔍 CLASIFICACIÓN Y PROCESAMIENTO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -2192
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURACIÓN DINÁMICA\n\n**Feature Flags (Supabase):**\n- ✅/❌ Pagos online habilitados\n- ✅/❌ Pagos en efectivo\n- 🔧 Modo mantenimiento\n\n**Delivery Settings:**\n- 💰 IVA (% y habilitación)\n- 🚚 Costo de envío\n- 📍 Zonas de cobertura\n\n**Catálogo Productos:**\n- Precios actualizados\n- Alérgenos\n- Disponibilidadf",
        "height": 640,
        "width": 332,
        "color": 5
      },
      "id": "19ceced6-1e78-4e87-bc24-b1a004bd9443",
      "name": "⚙️ CONFIGURACIÓN DINÁMICA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -2464
      ]
    },
    {
      "parameters": {
        "content": "## 🛡️ VERIFICACIÓN DE RIESGO\n\n**Consulta histórico del cliente:**\n- Pedidos previos\n- Tasa de cancelación\n- Pagos fallidos\n- Reportes de fraude\n\n**Niveles de riesgo:**\n- 🟢 VERDE → Confirmar automáticamente\n- 🟡 AMARILLO → Revisión manual\n- 🔴 ROJO → Bloquear\n\n**Acción:** Solo pedidos VERDES continúan",
        "height": 588,
        "width": 652,
        "color": "#888025"
      },
      "id": "017b7888-919f-457d-a8d3-162d59a2c195",
      "name": "🛡️ VERIFICACIÓN DE RIESGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -2496
      ]
    },
    {
      "parameters": {
        "content": "## 💳 PROCESAMIENTO DE PAGO\n\n**Métodos disponibles:**\n\n1. **💵 Efectivo:**\n   - Confirmación inmediata\n   - Status: 'confirmed'\n   - Pago al recibir\n\n2. **💳 Tarjeta (Stripe):**\n   - Genera Payment Link\n   - Status: 'pending'\n   - Webhook confirma pago\n   - Auto-actualiza a 'confirmed'\n\n**Datos guardados:** Método + Link (si aplica)",
        "height": 672,
        "width": 684,
        "color": "#AEA80F"
      },
      "id": "c4f2d0ce-3cb5-497f-8685-7910d3ccad4c",
      "name": "💳 PROCESAMIENTO DE PAGO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        -2496
      ]
    },
    {
      "parameters": {
        "content": "## 💾 PERSISTENCIA EN SUPABASE\n\n**Tabla: orders**\n\n**Campos guardados:**\n- status (confirmed/pending)\n- order_type (phone/delivery)\n- payment_method (cash/card)\n- guest_info (nombre, teléfono)\n- delivery_address\n- notes (detalle pedido)\n- subtotal, tax_amount, delivery_fee\n- **total**\n- source (canal origen)\n- created_at (timestamp)\n\n**Retorna:** ID del pedido para tracking",
        "height": 680,
        "width": 428,
        "color": "#34AD36"
      },
      "id": "2a7ac214-cfd6-4193-a01e-7c875dc8f0a0",
      "name": "💾 PERSISTENCIA EN SUPABASE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        -2288
      ]
    },
    {
      "parameters": {
        "content": "## 📤 RESPUESTA AL CLIENTE\n\n**Routing por canal:**\n\n- 📞 **Vapi:** JSON response\n- 💬 **Telegram:** Mensaje formateado + link tracking\n- 📱 **WhatsApp:** Texto vía Evolution API\n- 🌐 **Web Chat:** JSON + session_id\n\n**Información enviada:**\n- ✅ Confirmación del pedido\n- 💰 Desglose de costos\n- 🔗 Link de tracking\n- 💳 Link de pago (si tarjeta)\n\n**Tiempo respuesta:** < 10 segundos",
        "height": 1192,
        "width": 524,
        "color": "#F97A71"
      },
      "id": "688b9f52-7c7b-4101-a99e-dda16543df60",
      "name": "📤 RESPUESTA AL CLIENTE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -3120
      ]
    },
    {
      "parameters": {
        "content": "## 🚨 SISTEMA DE ERRORES\n\n**Error Trigger captura fallos en:**\n- OpenAI (transcripción, visión, extracción)\n- Supabase (consultas, inserciones)\n- Stripe (generación de links)\n- APIs externas\n\n**Acciones automáticas:**\n1. 📱 Alerta a admin (Telegram)\n2. 💾 Log en error_logs (Supabase)\n3. 💬 Respuesta cortés al cliente\n4. 🔄 Preserva datos para revisión manual\n\n**Mensaje cliente:** \"Retraso técnico, agente humano te contactará\"",
        "height": 908,
        "width": 1468
      },
      "id": "bfb60260-7283-4bff-9ac7-c54197838af7",
      "name": "🚨 SISTEMA DE ERRORES",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        -896
      ]
    },
    {
      "parameters": {
        "content": "## 💰 WEBHOOK STRIPE\n\n**Escucha eventos:**\n- payment_intent.succeeded\n- checkout.session.completed\n\n**Acción:**\n- Actualiza order status → 'confirmed'\n- Marca payment_status → 'paid'\n- Timestamp de pago\n\n**Flujo independiente:**\nNo bloquea la respuesta inicial al cliente",
        "height": 304,
        "width": 716,
        "color": "#E85ED6"
      },
      "id": "2b211508-7801-4957-98cb-fa53273648af",
      "name": "💰 WEBHOOK STRIPE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2704,
        64
      ]
    },
    {
      "parameters": {
        "content": "**🧪 UNIFICACIÓN DE ENTRADA\n\n\nFunción:\n\n🌪️ Filtro final: Recoge el resultado de las 3 ramas (Audio, Imagen o Texto).\n\n🧬 Normalización: Convierte cualquier entrada en una consulta limpia.\n\n🚦 Control de flujo: Usa chooseBranch para pasar solo el dato activo.\n\nResultado:\n\n💎 Query unificada: Lista para que el Agente de IA la procese.\n\n📦 Metadata preservada: Mantiene el ID del canal y del usuario.",
        "height": 688,
        "width": 304,
        "color": "#E9CECE"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        -2128
      ],
      "id": "16292a80-b520-4a48-aa14-9e10268759ce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "canal_origen",
              "value": "={{ $json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id || $json.data?.key?.remoteJid || $json.body?.session_id || $json.session_id || $json.message?.call?.customer?.number || 'desconocido' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "nombre_usuario",
              "value": "={{ $json.message?.from?.first_name || $json.data?.pushName || $json.body?.user_name || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "supabase_url",
              "value": "https://api.pozu2.com",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "supabase_key",
              "value": "{{ SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "GROQ_API_KEY",
              "value": "{{ GROQ_API_KEY_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "TELEGRAM_BOT_TOKEN",
              "value": "{{ TELEGRAM_BOT_TOKEN_PLACEHOLDER }}",
              "type": "string"
            },
            {
              "id": "5fae8011-7a15-4059-b843-24c75c485521",
              "name": "OPENAI_API_KEY",
              "value": "{{ OPENAI_API_KEY_PLACEHOLDER }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dfc90b05-7574-45d2-a143-450d616c944f",
      "name": "🛡️ Blindar Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2192,
        -1872
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ ($json.message?.text || $json.message?.caption || $json.body?.text || $json.transcript || '').trim() || 'Hola, ¿qué tenéis?' }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9a7324d3-9445-458c-a192-2cfdfb2e0340",
      "name": "Limpiar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        -2112
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
        "contextWindowLength": 30
      },
      "id": "453a417c-2aa3-4c2f-98b6-44a0415f76f8",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        -1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.items }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c32104c2-2c4a-4aee-9dc0-ca9e51eba9d5",
      "name": "Validar Datos Pedido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        -2080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "mensaje_incompleto",
              "value": "Fiera, no me ha quedado claro qué quieres pedir. ¿Me lo repites?",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dc379a7d-ec4f-45a7-b211-d3c83e807bbc",
      "name": "Preparar Mensaje Datos Incompletos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -1808
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2c5313c5-71a7-4ad7-a6db-006795c1d8cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7dfad8d1-d6fb-405b-8a78-b5ee44f95baf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal_origen }}",
                    "rightValue": "vapi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ed1db55-4eff-4a8e-b2b4-26424b79627c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vapi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourcet || $json.canal_origen }}",
                    "rightValue": "website_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9fb4e8a0-29a1-40a0-9b08-fadb3232ff87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {}
      },
      "id": "d29db673-b236-4b50-b0b4-7e34300ec25c",
      "name": "Identificar Canal Datos Incompletos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2032,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pozu.es/message/sendText/pozu-instance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje_incompleto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "43d51314-1fbd-497b-8d44-8690b9efde2a",
      "name": "Responder Datos Incompletos WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2256,
        -1856
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VhrUXsFGORSO4DV2",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje_incompleto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6d18f149-8ac5-459b-a945-d46f86227cf7",
      "name": "Responder Datos Incompletos Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        -1664
      ],
      "webhookId": "661d88cd-2a03-4829-91f1-022586299ae5",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"success\": false, \n  \"message\": \"{{ $json.mensaje_incompleto }}\" \n}",
        "options": {}
      },
      "id": "024e437e-7d76-4611-9e41-ba051246ae50",
      "name": "Responder Datos Incompletos Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2256,
        -1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": $json.mensaje_incompleto || \"¿En qué puedo ayudarte?\" } }}",
        "options": {}
      },
      "id": "b226ef9f-7b64-48d7-b392-4f6bc64f4fab",
      "name": "Responder Datos Incompletos Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2256,
        -1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6592e592-0502-49ec-bb32-3446cb8924a2",
              "leftValue": "={{ $('Extraer Datos Estructurados').first().json.output }}",
              "rightValue": "\"detalle_pedido\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -2192
      ],
      "id": "b29e5b58-ea00-4cc7-bbb2-87b6e474c703",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-1",
              "name": "mensaje_incompleto",
              "value": "={{ $('Extraer Datos Estructurados').first().json.output.replace(/\\*/g, \"-\") }}",
              "type": "string"
            },
            {
              "id": "chat-2",
              "name": "canal_origen",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.canal_origen }}",
              "type": "string"
            },
            {
              "id": "chat-3",
              "name": "chat_id",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "chat-4",
              "name": "nombre_usuario",
              "value": "={{ $('🛡️ Blindar Metadata').item.json.nombre_usuario }}",
              "type": "string"
            },
            {
              "id": "chat-5",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -2432
      ],
      "id": "e5763f92-151f-4400-8006-e997473ce023",
      "name": "Preparar Chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        -2160
      ],
      "id": "a34b6d33-6069-454a-bd09-8f101af781fb",
      "name": "whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        -1952
      ],
      "id": "9b3bd82c-b2c7-4c57-bf39-68c24ab8b14a",
      "name": "telegram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "vapi",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        -1776
      ],
      "id": "40d1ddde-ac77-41d4-b090-ee4335695fb3",
      "name": "vapi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ebf1f4-0eda-4530-94bd-591dffb4b4ec",
              "name": "canal_origen",
              "value": "website_chat",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        -1600
      ],
      "id": "2d28cc1a-dfa4-4971-844d-22b0d871874b",
      "name": "website_chat"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "=={{ $json.message?.voice?.file_id || $json.message?.audio?.file_id || $json.message?.document?.file_id }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        -1520
      ],
      "id": "358bd142-3f47-4c8f-a1f4-cd4c1c9de443",
      "name": "Get a file",
      "webhookId": "e442d0b3-321e-4cef-a715-1b2158eceb28",
      "credentials": {
        "telegramApi": {
          "id": "i4IQkiXw6gQXU0VD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1760,
        -1648
      ],
      "id": "9172c776-1e61-40e9-ad1b-629a33b858ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7pzZsxrTIlOWeFWc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        -1808
      ],
      "id": "97132244-77b6-4662-a326-e366de17a471",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7pzZsxrTIlOWeFWc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('🛡️ Blindar Metadata').item.json.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "2cd3239d-386c-4032-9569-532c1bb829ad",
      "name": "Transcribir Audio con OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1712,
        -1488
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2CxYthd5YFXXOqd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.photo?.[0]?.file_id || $json.data?.message?.imageMessage?.url || 'imagen recibida' }}",
        "options": {
          "systemMessage": "Eres un asistente visual de Pozu 2.0. Analiza la imagen recibida y describe qué productos del menú se pueden identificar. Si es una foto de un pedido escrito, transcribe el texto completo. Si es una imagen de productos, describe qué items se ven y sus características. Sé preciso y conciso."
        }
      },
      "id": "18b8eef8-cd0a-4128-b7a5-0e7d60058998",
      "name": "Analizar Imagen con OpenAI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1760,
        -1824
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2288,
        -2080
      ],
      "id": "c69e18d8-e153-47a8-b0e3-d01c172e1480",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## 🤖 EXTRACCIÓN INTELIGENTE (AI)\n\n**AI Agent (GPT-4o) extrae:**\n- 👤 Nombre del cliente\n- 📞 Teléfono (Asturias)\n- 📍 Dirección de entrega\n- 🍔 Detalle del pedido (productos + cantidades)\n- 🍯 Salsas y extras\n- 💳 Método de pago preferido\n\n**Cálculos automáticos:**\n- Subtotal\n- IVA (si habilitado)\n- Envío\n- **Total final**\n\n**Salida:** JSON estructuradoiguiente es \ncarta OFICIAL complet",
        "height": 740,
        "width": 636,
        "color": "#FFBA6B"
      },
      "id": "1abcd080-8acd-437c-b252-87c6f10b45f2",
      "name": "los productos disponibles para la venta. NUNCA rechaces un producto que este en esta lista:",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        -2352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "description": "Úsala para buscar un producto específico por su nombre O para obtener la lista completa de todos los productos si el cliente pide la carta o el menú.",
        "jsCode": "const query = $fromAI('input', 'Producto o consulta', 'string').toLowerCase().trim();\nlet productos = [];\n\ntry {\n  productos = $('Consultar Catálogo Productos').all();\n} catch (e) {\n  return \"ERROR_BD: \" + e.message;\n}\n\nif (!productos || productos.length === 0) {\n  return \"La base de datos de productos esta vacia o inaccesible.\";\n}\n\nconst disponibles = productos.filter(p => p.json.is_available !== false && p.json.deleted_at === null);\n\nconst keywordsMenu = ['menu','carta','todo','ver','mostrar','comer','tienen','opciones','disponible','hamburguesas','burguer','picoteo','entrante','patata','sandwiches'];\n\nif (keywordsMenu.some(kw => query.includes(kw)) || query.length < 4) {\n  const grouped = {};\n  disponibles.forEach(p => {\n    const item = p.json;\n    let cat = 'OTROS';\n    if (item.category_id === '0bc02f87-623d-4b2a-9ee2-1f7a6e5fde1e') cat = 'HAMBURGUESAS';\n    else if (item.category_id === '433580a0-f34c-4e36-975c-a2b9f1bbb6b2') cat = 'ENTRANTES Y PICOTEO';\n    else if (item.category_id === 'bae3f11e-df43-44b7-82ed-7c2a77098c82') cat = 'PATATAS';\n    else if (item.category_id === '9dac7b28-9e2c-428c-b7c5-6559485fc644') cat = 'SANDWICHES';\n    if (!grouped[cat]) grouped[cat] = [];\n    grouped[cat].push(item);\n  });\n\n  const orden = ['HAMBURGUESAS', 'ENTRANTES Y PICOTEO', 'PATATAS', 'SANDWICHES', 'OTROS'];\n  let res = \"=== CARTA POZU 2.0 ===\\n\\n\";\n  orden.forEach(cat => {\n    if (grouped[cat] && grouped[cat].length > 0) {\n      res += `[${cat}]\\n`;\n      grouped[cat].forEach(i => res += `- ${i.name}: ${i.price}EUR\\n`);\n      res += \"\\n\";\n    }\n  });\n  return res + \"Que te apetece pedir?\";\n}\n\nconst queryWords = query.split(/\\s+/).filter(w => w.length > 2);\nconst matches = disponibles.filter(p => {\n  const nombre = (p.json.name || '').toLowerCase();\n  const desc = (p.json.description || '').toLowerCase();\n  if (nombre.includes(query)) return true;\n  if (desc.includes(query)) return true;\n  return queryWords.some(word => nombre.includes(word));\n});\n\nif (matches.length === 1) {\n  const m = matches[0].json;\n  const ing = Array.isArray(m.ingredients) ? m.ingredients.join(', ') : 'Ver descripcion';\n  return `PRODUCTO: ${m.name} | PRECIO: ${m.price}EUR | INFO: ${m.description} | INGREDIENTES: ${ing} | ALERGENOS: ${m.allergens || 'Sin especificar'}`;\n}\n\nif (matches.length > 1) {\n  return `Encontre varios productos:\\n${matches.map(m => `- ${m.json.name} (${m.json.price}EUR)`).join('\\n')}\\nA cual te refieres?`;\n}\n\nreturn `No encuentro \"${query}\" en la carta. Productos disponibles:\\n${disponibles.map(p => `- ${p.json.name}`).join('\\n')}`;\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -352,
        -1808
      ],
      "id": "336bce8c-c32d-42e4-93db-d588110aa08b",
      "name": "verificar_producto"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "id": "5f7beb81-c297-41b6-bf8d-64468b164444",
      "name": "Consultar Catálogo Productos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        -1984
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "success_url",
              "value": "https://pozu2.com"
            },
            {
              "name": "cancel_url",
              "value": "https://pozu2.com"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "eur"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "{{ $json.description }}"
            },
            {
              "name": "line_items[0][price_data][unit_amount]",
              "value": "={{ $json.amount }}"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        -1968
      ],
      "id": "7ddff356-d60d-42be-ad93-664f5f96f24b",
      "name": "Generar Link Pago (Stripe)",
      "credentials": {
        "stripeApi": {
          "id": "vRgvSqM8lkgQIypg",
          "name": "Stripe account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Extraer Datos",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Transcribir",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Analizar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $json.node.name }}",
              "rightValue": "Extraer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "c378cd28-4cc5-4101-8760-6c995bf8c9d6",
      "name": "Verificar si es IA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2224,
        -320
      ]
    },
    {
      "parameters": {
        "description": "Úsala para verificar si hay mesas disponibles en una fecha y hora concretas. También devuelve horas alternativas si no hay disponibilidad.",
        "jsCode": "// =============================================\n\nconst input = $fromAI('input', 'Fecha (dd/mm/yyyy), hora (HH:MM) y número de personas separados por coma. Ej: 12/04/2026,20:00,4', 'string');\n\n// --- Parsear input ---\nconst parts = input.split(',').map(s => s.trim());\nconst rawDate = parts[0];   // dd/mm/yyyy\nconst rawTime = parts[1];   // HH:MM\nconst guests  = parseInt(parts[2]) || 2;\n\nif (!rawDate || !rawTime) {\n  return \"Necesito la fecha y la hora para verificar disponibilidad. Formato: dd/mm/yyyy, HH:MM, número de personas.\";\n}\n\n// Convertir dd/mm/yyyy → yyyy-mm-dd\nconst [day, month, year] = rawDate.split('/');\nconst isoDate = `${year}-${month.padStart(2,'0')}-${day.padStart(2,'0')}`;\nconst dateObj = new Date(`${isoDate}T${rawTime}:00`);\nconst dayOfWeek = dateObj.getDay(); // 0=domingo\n\n// --- Obtener horarios del local ---\nlet timeSlots = [];\ntry {\n  timeSlots = $('Consultar Horarios').all().map(s => s.json);\n} catch(e) {\n  // Si no tienes nodo \"Consultar Horarios\", los horarios están hardcodeados abajo como fallback\n  timeSlots = [];\n}\n\n// Verificar si el día tiene horario activo\nconst slotsDelDia = timeSlots.filter(s => s.day_of_week === dayOfWeek && s.is_active !== false);\n\nif (slotsDelDia.length === 0) {\n  return `Lo siento, el local está cerrado ese día. Los días disponibles son: martes a domingo.`;\n}\n\n// Verificar si la hora está dentro de algún turno\nconst [hh, mm] = rawTime.split(':').map(Number);\nconst horaEnMinutos = hh * 60 + mm;\n\nconst turnoValido = slotsDelDia.find(s => {\n  const [oh, om] = s.open_time.split(':').map(Number);\n  const [ch, cm] = s.close_time.split(':').map(Number);\n  return horaEnMinutos >= oh * 60 + om && horaEnMinutos <= ch * 60 + cm;\n});\n\nif (!turnoValido) {\n  const horariosTexto = slotsDelDia.map(s => `${s.open_time} - ${s.close_time}`).join(' y ');\n  return `Esa hora no está disponible. El horario para ese día es: ${horariosTexto}.`;\n}\n\n// --- Obtener mesas con capacidad suficiente ---\nlet mesas = [];\ntry {\n  mesas = $('Consultar Mesas').all().map(m => m.json).filter(m => m.is_active !== false && m.capacity >= guests);\n} catch(e) {\n  mesas = [];\n}\n\nif (mesas.length === 0) {\n  return `Lo siento, no tenemos mesas disponibles para ${guests} personas. ¿Quieres intentar con menos comensales?`;\n}\n\n// --- Consultar reservas existentes en esa franja ---\nlet reservasExistentes = [];\ntry {\n  reservasExistentes = $('Consultar Reservas Fecha').all().map(r => r.json).filter(r => \n    r.reservation_date === isoDate && \n    r.status === 'confirmed'\n  );\n} catch(e) {\n  reservasExistentes = [];\n}\n\n// Calcular fin de la reserva solicitada\nconst duracion = turnoValido.slot_duration_minutes || 90;\nconst inicioMin = horaEnMinutos;\nconst finMin = inicioMin + duracion;\n\n// Mesas ya ocupadas en esa franja\nconst mesasOcupadas = reservasExistentes\n  .filter(r => {\n    const [rh, rm] = r.reservation_time.split(':').map(Number);\n    const rInicio = rh * 60 + rm;\n    const rFin = rInicio + duracion;\n    return rInicio < finMin && rFin > inicioMin;\n  })\n  .map(r => r.table_id);\n\n// Mesas libres\nconst mesasLibres = mesas.filter(m => !mesasOcupadas.includes(m.id));\n\nif (mesasLibres.length === 0) {\n  // Generar horas alternativas disponibles en el mismo turno\n  const alternativas = [];\n  const slotMinutos = 30;\n  const openMin = turnoValido.open_time.split(':').map(Number).reduce((h,m,i) => i===0 ? h*60+m : h+m, 0);\n  // Simplificado:\n  const [oh2, om2] = turnoValido.open_time.split(':').map(Number);\n  const [ch2, cm2] = turnoValido.close_time.split(':').map(Number);\n  const openTotalMin = oh2 * 60 + om2;\n  const closeTotalMin = ch2 * 60 + cm2;\n\n  for (let t = openTotalMin; t <= closeTotalMin - duracion; t += slotMinutos) {\n    if (t === inicioMin) continue;\n    const hAlt = Math.floor(t / 60).toString().padStart(2, '0');\n    const mAlt = (t % 60).toString().padStart(2, '0');\n    const horaAlt = `${hAlt}:${mAlt}`;\n    \n    const ocupadasAlt = reservasExistentes.filter(r => {\n      const [rh, rm] = r.reservation_time.split(':').map(Number);\n      const rInicio = rh * 60 + rm;\n      const rFin = rInicio + duracion;\n      return rInicio < t + duracion && rFin > t;\n    }).map(r => r.table_id);\n    \n    const libresAlt = mesas.filter(m => !ocupadasAlt.includes(m.id));\n    if (libresAlt.length > 0) alternativas.push(horaAlt);\n    if (alternativas.length >= 3) break;\n  }\n\n  if (alternativas.length > 0) {\n    return `Lo siento, a las ${rawTime} no hay mesas disponibles para ${guests} personas el ${rawDate}. ¿Te viene bien alguna de estas horas alternativas? ${alternativas.join(', ')}`;\n  }\n  return `Lo siento, no hay disponibilidad para ${guests} personas el ${rawDate}. ¿Quieres probar otra fecha?`;\n}\n\nreturn `DISPONIBLE | fecha:${isoDate} | hora:${rawTime} | personas:${guests} | mesas_libres:${mesasLibres.length} | primera_mesa_id:${mesasLibres[0].id} | primera_mesa_nombre:${mesasLibres[0].name}`;\n\n\n// ============================================="
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -352,
        -1600
      ],
      "id": "tool-disp-1775679288902",
      "name": "consultar_disponibilidad"
    },
    {
      "parameters": {
        "description": "Úsala SOLO cuando el cliente haya confirmado todos los datos de la reserva (fecha, hora, personas, nombre, teléfono). Crea la reserva y asigna mesa automáticamente.",
        "jsCode": "// =============================================\n\nconst input2 = $fromAI('input', 'JSON con los datos de la reserva: fecha (yyyy-mm-dd), hora (HH:MM), personas, nombre, telefono, table_id, notas (opcional)', 'string');\n\nlet datos;\ntry {\n  datos = JSON.parse(input2);\n} catch(e) {\n  // Intentar extraer del texto si no viene como JSON puro\n  return \"Error al procesar los datos. Asegúrate de tener: fecha, hora, personas, nombre y teléfono confirmados por el cliente.\";\n}\n\nconst {\n  fecha,\n  hora,\n  personas,\n  nombre,\n  telefono,\n  table_id,\n  notas = ''\n} = datos;\n\nif (!fecha || !hora || !personas || !nombre || !telefono) {\n  const faltantes = [];\n  if (!nombre) faltantes.push('nombre');\n  if (!telefono) faltantes.push('teléfono');\n  if (!fecha) faltantes.push('fecha');\n  if (!hora) faltantes.push('hora');\n  if (!personas) faltantes.push('número de personas');\n  return `Faltan datos para crear la reserva: ${faltantes.join(', ')}. Por favor recógelos del cliente.`;\n}\n\n// Obtener canal de origen\nlet canal = 'website_chat';\ntry {\n  canal = $('🛡️ Blindar Metadata').item.json.canal_origen || 'website_chat';\n} catch(e) {}\n\nlet session = '';\ntry {\n  session = $('🛡️ Blindar Metadata').item.json.chat_id || '';\n} catch(e) {}\n\n// Preparar objeto reserva\nconst reserva = {\n  customer_name: nombre,\n  phone: telefono,\n  reservation_date: fecha,\n  reservation_time: hora,\n  guests: parseInt(personas),\n  table_id: table_id || null,\n  status: 'confirmed',\n  notes: notas,\n  source: canal,\n  session_id: session\n};\n\n// Insertar en Supabase vía HTTP (usa tu URL y anon key de Supabase)\n// NOTA: Reemplaza SUPABASE_URL y SUPABASE_ANON_KEY con tus valores reales\n// O mejor aún: conéctalo a un nodo Supabase externo y usa $('Insertar Reserva').item.json\n\nreturn `RESERVA_LISTA | ${JSON.stringify(reserva)}`;\n\n// INSTRUCCIÓN IMPORTANTE:\n// Después de esta tool, añade un nodo Supabase \"Insertar en reservations\"\n// que recoja el output y haga el INSERT real.\n// El agente devolverá el JSON con los datos y tú lo procesas en el siguiente nodo."
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -352,
        -1400
      ],
      "id": "tool-res-1775679288902",
      "name": "crear_reserva"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "time_slots",
        "returnAll": true
      },
      "id": "sup-time_slots-1775679288902",
      "name": "Consultar Horarios",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        -1800
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tables",
        "returnAll": true
      },
      "id": "sup-tables-1775679288902",
      "name": "Consultar Mesas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        -1600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true
      },
      "id": "sup-reservations-1775679288902",
      "name": "Consultar Reservas Fecha",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        -1400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Extraer Datos Estructurados').first().json.output }}",
              "rightValue": "RESERVA_LISTA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        -2600
      ],
      "id": "if-reserva-1775679288902",
      "name": "Es Reserva?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reserva_data",
              "value": "={{ JSON.parse($('Extraer Datos Estructurados').first().json.output.split(\"|\")[1].trim()) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        -2800
      ],
      "id": "prep-res-1775679288902",
      "name": "Preparar Objeto Reserva"
    },
    {
      "parameters": {
        "tableId": "reservations",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.reserva_data.customer_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.reserva_data.phone }}"
            },
            {
              "fieldId": "reservation_date",
              "fieldValue": "={{ $json.reserva_data.reservation_date }}"
            },
            {
              "fieldId": "reservation_time",
              "fieldValue": "={{ $json.reserva_data.reservation_time }}"
            },
            {
              "fieldId": "guests",
              "fieldValue": "={{ $json.reserva_data.guests }}"
            },
            {
              "fieldId": "table_id",
              "fieldValue": "={{ $json.reserva_data.table_id }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.reserva_data.notes }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.reserva_data.source }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.reserva_data.session_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2300,
        -2800
      ],
      "id": "ins-res-1775679288902",
      "name": "Insertar en reservations",
      "credentials": {
        "supabaseApi": {
          "id": "FuNmSwNtO9Gdhqsd",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Preparar para Supabase": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "whatsapp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Web Webhook": {
      "main": [
        [
          {
            "node": "website_chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Tipo Contenido": {
      "main": [
        [
          {
            "node": "Limpiar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizar Imagen con OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpiar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Feature Flags": {
      "main": [
        [
          {
            "node": "Consultar Delivery Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Delivery Settings": {
      "main": [
        [
          {
            "node": "Consultar Catálogo Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Nivel Riesgo": {
      "main": [
        [
          {
            "node": "Preparar Pedido Verde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pedido Verde": {
      "main": [
        [
          {
            "node": "Verificar Método Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Método Pago": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pago Tarjeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pago Tarjeta": {
      "main": [
        [
          {
            "node": "Generar Link Pago (Stripe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Supabase": {
      "main": [
        [
          {
            "node": "Validar Datos Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido en Supabase": {
      "main": [
        [
          {
            "node": "Identificar Canal Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Respuesta": {
      "main": [
        [
          {
            "node": "Responder a Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Web": {
      "main": [
        [
          {
            "node": "Responder a Chat Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger - OpenAI Failures": {
      "main": [
        [
          {
            "node": "Verificar si es IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta Telegram": {
      "main": [
        [
          {
            "node": "Enviar Alerta Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Error en DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Respuesta Error Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Error Cliente": {
      "main": [
        [
          {
            "node": "Identificar Canal Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Error": {
      "main": [
        [
          {
            "node": "Enviar Error WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Blindar Metadata": {
      "main": [
        [
          {
            "node": "Clasificar Tipo Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Texto": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Marcar como Pagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos Pedido": {
      "main": [
        [
          {
            "node": "Insertar Pedido en Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Datos Incompletos": {
      "main": [
        [
          {
            "node": "Identificar Canal Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Canal Datos Incompletos": {
      "main": [
        [
          {
            "node": "Responder Datos Incompletos WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Vapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Datos Incompletos Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Verificar Riesgo Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Reserva?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Chat": {
      "main": [
        [
          {
            "node": "Identificar Canal Datos Incompletos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vapi": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "website_chat": {
      "main": [
        [
          {
            "node": "🛡️ Blindar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribir Audio con OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar Imagen con OpenAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio con OpenAI": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagen con OpenAI": {
      "main": [
        [
          {
            "node": "Consultar Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar_producto": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Catálogo Productos": {
      "main": [
        [
          {
            "node": "Consultar Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Riesgo Cliente": {
      "main": [
        [
          {
            "node": "Evaluar Nivel Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Link Pago (Stripe)": {
      "main": [
        [
          {
            "node": "Preparar para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si es IA": {
      "main": [
        [
          {
            "node": "Preparar Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_reserva": {
      "ai_tool": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Horarios": {
      "main": [
        [
          {
            "node": "Consultar Mesas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Mesas": {
      "main": [
        [
          {
            "node": "Consultar Reservas Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Reservas Fecha": {
      "main": [
        [
          {
            "node": "Extraer Datos Estructurados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Reserva?": {
      "main": [
        [
          {
            "node": "Preparar Objeto Reserva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Objeto Reserva": {
      "main": [
        [
          {
            "node": "Insertar en reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en reservations": {
      "main": [
        [
          {
            "node": "Preparar Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b99065fe-da75-4c58-90aa-46bee0c75273",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b924d8fc10a2eb5478466ee817417b4c593cfbba64921c784a4bd5d50d06a48d"
  },
  "id": "6goSuOdaxVhgMyhy",
  "tags": []
}